<!DOCTYPE html>
<html>
    <head>
        <title>招商合作入驻</title>
        <link rel="shortcut icon" href="__IMG2__/logo16.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="__CSS2__/indexS.css">
        <link rel="stylesheet" href="__BUI__/css/bs3/bui-min.css">
        <link rel="stylesheet" href="__BUI__/css/bs3/dpl-min.css">
    </head>
    <body>
        <div id="head">
            <div class="top">
                <div class="logo" style="float: left;"><img src="__IMG2__/logo2.png" alt=""><span>内容开放平台</span></div>
            </div>
            <div class="he_nav">
                <ul>
                    <li><a href="">商家首页</a></li>
                    <li class="nav_z"><a href="">淘客入驻中心</a></li>
                </ul>
            </div>
        </div>
        <div id="bocen">
            <div class="main enter">
                <div class="left" style="float: left;">
                    <div class="left_title"><span style="background: url('__IMG2__/icon_enter.png')  no-repeat;"></span><span class="left_user">入驻申请</span></div>
                    <ul>
                        <li class="le_nav"><a href=""><span>入驻报名</span><span>></span></a></li>
                    </ul>
                </div>
                <!--基本资料-->
                <div class="signup" style="float: left;width: 660px;">
                    <form action="" class="form-horizontal form-horizontal-simple">
                        <div class="control-group">
                            <label class="control-label">名称：</label>
                            <div class="controls">
                                <input type="text" class="input-large">
                                <label class="control-label"><s>*用于打造自己在行业中的品牌名字</s></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">类型：</label>
                            <div class="controls">
                                <select data-rules="{required:true}">
                                    <option value="tuandui" selected="selected">团队</option>
                                    <option value="gongsi">公司</option>
                                    <option value="gongzuoshi">工作室</option>
                                </select>
                                <label class="control-label"><s>*是否有公司/工作室，或者团队作战</s></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">联系QQ：</label>
                            <div class="controls">
                                <input type="text" class="input-large" placeholder="2633378954">
                                <label class="control-label"><s>*提供相关咨询和服务</s></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">联系人手机：</label>
                            <div class="controls">
                                <input type="text" class="input-large" placeholder="18777695543">
                                <label class="control-label"><s>*方便相关咨询和服务</s></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">目前收入：</label>
                            <div class="controls">
                                <select data-rules="{required:true}">
                                    <option value="yiwan" selected="selected">1W以下</option>
                                    <option value="wuwan">1W~5W</option>
                                    <option value="shiwan">5W~10W</option>
                                    <option value="ershiwan">10W~20W</option>
                                    <option value="chao">20W以上</option>
                                </select>
                                <label class="control-label"><s>*淘宝客收入哦</s></label>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="margin-top: 25px;">自有渠道：</label>
                            <div class="controls control-row4">
                                <textarea style="width: 380px;" class="input-large" data-valid="{}" placeholder="www.97du.com
多个精品微信群"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" style="margin-top: 25px;">申请理由：</label>
                            <div class="controls control-row4">
                                <textarea style="width: 380px;" class="input-large" data-valid="{}" placeholder="合作共享"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">淘客ID：</label>
                            <div class="controls">
                                <input type="text" class="input-large">
                            </div>
                        </div>
                        <div class="control-group control-group-img">
                            <label class="control-label">淘客收入截图：</label>
                            <div class="controls">
                                <img src="" alt="" style="width: 240px;height: 170px;"/>
                                <label class="control-label"><s>*淘宝客近30天收入截图哦</s></label>
                            </div>
                        </div>
                        <div class="control-group control-group-img">
                            <label class="control-label">淘客渠道截图：</label>
                            <div class="controls">
                                <img src="" alt="" style="width: 240px;height: 170px;"/>
                            </div>
                        </div>
                        <div class="control-group control-group-img">
                            <label class="control-label">淘客认证截图：</label>
                            <div class="controls">
                                <img src="" alt="" style="width: 240px;height: 170px;"/>
                            </div>
                        </div>

                        <div class="form-actions span5 offset3" style="width: 440px;margin-top: 30px;margin-bottom: 100px;">
                            <button id="btnSearch" type="submit" class="button button-primary" style="background-color: #FF6600;width: 110px;height: 40px;border: none;margin-top: 10px;">提交报名</button>
                        </div>
                    </form>
                </div>
                <div style="clear: both"></div><!--清除浮动-->
            </div>
        </div>
    </body>
    <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__BUI__/js/bui-min.js"></script>
    <script type="text/javascript">
        $(function () {
            var main_H = $(".main").height();
            $(".left").height(main_H);
        });
    </script>
</html>
