<div id="head">
    <div class="top">
        <div class="logo" style="float: left;"><img src="__IMG2__/logo2.png" alt=""><span>商家 · 中心</span></div>
        <div class="seller_login" style="float: right;margin-top: 20px;">
            <!--<span class="seller_tel" style="margin-right: 40px;">登录</span>-->
            <a href="/index.php/home/business/logout" class="seller_logoff">注销</a>
        </div>
    </div>
    <div class="he_nav">
        <ul>
            <li><a href="">商家首页</a></li>
            <li class="{:ACTION_NAME=='userinfo'?'nav_z':''}"><a href="/index.php/business/userinfo.html">个人中心</a></li>
            <li class="{:ACTION_NAME=='index'?'nav_z':''}{:ACTION_NAME=='signupRecord'?'nav_z':''}"><a href="/index.php/business/index.html">报名管理</a></li>
            <li><a href="">规则介绍</a></li>
        </ul>
    </div>
</div>