<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>积米淘客助手</title>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS2__/svc.css">
    
    <style>
        #help .help_banner{background: url('__IMG2__/help_banner_bg.jpg') no-repeat;background-size: 100% 100%;height: 385px;}
        #help .help_info .help_info_top{font-size: 30px;font-family: '黑体';color: #3f3939;width: 100%;height: 55px;margin-top: 45px;}
        #help .help_info_left li{list-style: none;width: 280px;height: 66px;border-bottom: 1px solid #E3EAEF;line-height: 65px;font-family: '微软雅黑';color: #333;font-size: 18px;color: #333;cursor: pointer;}
        #help .help_info_left li span span{display: inline-block;width: 15px;height: 15px;border-radius: 50%;background: #1CD6AF;margin-left: 30px;margin-right: 18px;}
        #help .help_info_left .info_xuan>span,#help .help_info_left li:hover>span{width: 100%;height: 55px;margin-top: 5px; background-color: #f5f5f5;display: inline-block;line-height: 55px;}
        #help .help_info_right{width: 860px;float: right;height: 710px;}
        #help .help_info_right .helpInfo{background: #F5F5F5;padding: 14px 87px 32px 15px;min-height: 500px;display: none;}
        #help .help_info_right .helpInfo h3{font-size: 18px;margin: 0;padding: 0;font-weight: 700;font-family: '微软雅黑';}
        #help .help_info_right .helpInfo p{font-size: 16px;margin: 0;padding: 0;font-family: '微软雅黑';word-spacing: 25px;letter-spacing: 0px;line-height: 25px;margin-top: 18px;}
        #help .help_info_right .helpInfo .qun{font-size: 18px;color: #ff6503;line-height: 10px;}
        #help .help_info_right .helpInfo .qun span{width: 29px;height: 28px;display: inline-block;background: url('__IMG2__/qq_icon.png');position: relative;top: 8px;}
    </style>
</head>
<body>
<include file="public:header2" />

<div id="help">
    <div class="help_banner">
        <div style='width: 1200px;margin: 0 auto;'>
            <img src="__IMG2__/help_banner.png" alt="" style='margin-top:40px;'>
        </div>
    </div>
    <div class="help_info" style='width: 1200px;margin: 0 auto;'>
        <div class="help_info_top">积米使用帮助</div>
        <div class="help_info_left" style='float: left;'>
            <ul>
                <li class='info_xuan' style='border-top: 1px solid #E3EAEF;'><span><span></span>关于积米淘客助手</span></li>
                <li><span><span></span>新手入门</span></li>
                <li><span><span></span>实时榜单</span></li>
                <li><span><span></span>转链工具</span></li>
                <li><span><span></span>常见问题</span></li>
                <li><span><span></span>客服中心</span></li>
            </ul>
        </div>
        <div class="help_info_right">
            <div class='helpInfo helpInfo1' style='display: block'>
                <h3>关于积米淘客助手</h3>
                <p>&nbsp;积米淘客助手是一款专门服务于广大淘客的一站式软件。它将复杂的推广程序简化，最突出的特点是自动申请高佣金计划，为淘客赚取更多的佣金。</p>
                <h3 style='margin-top:30px;'>功能板块</h3>
                <p>&nbsp;积米淘客助手产品库商品精细分类规划，方便大家能快速找到好单，赚取更多佣金；<br>&nbsp;淘客助手还有高级筛选功能：海淘购，聚划算，天猫，金牌卖家，鹊桥活动。</p>
                <h3 style='margin-top:30px;'>主推人气宝贝</h3>
                <p>&nbsp;积米淘客助手首页主推的6款人气宝贝，领券购买量当天最火爆，是买家需求的人气好单。</p>
            </div>
            <div class='helpInfo helpInfo2'>
                <h3>淘客基本知识-什么事淘宝客</h3>
                <p>&nbsp;淘宝客-类似于淘宝商品或是店铺的导购员，帮淘宝商家推广商品或者店铺的，如果有人通过推广连接去购买商品，淘客就会获得提成。</p>
                <h3 style='margin-top:30px;'>淘客基本知识-PID的认识</h3>
                <p>&nbsp;PID是每个淘客自己的唯一ID，相当于淘宝客的身份证号码，决定着收入的归属。</p>
                <h3 style='margin-top:30px;'>账号创建及密码找回问题</h3>
                <p>&nbsp;创建账号：登录积米淘客助手官网（www.j1m1.com），点击网页左上角“注册”选项。根据网页提示填写资料，填写完成后点击“注册”即可。</p>
                <p>&nbsp;忘记密码：登录积米淘客助手官网（www.j1m1.com），点击网页左上角“登录”选项。输入密码框下方会显示“忘记密码选项”（http://www.j1m1.com/reset），点击后使用注册的邮箱找回密码。</p>
                <p>&nbsp;账号忘记：目前暂无账号找回功能，如忘记账号，请重新申请新账号进行设置使用。</p>
                <h3 style='margin-top:30px;'>阿里妈妈（淘宝联盟）是什么？</h3>
                <p>&nbsp;阿里妈妈即淘宝联盟，是由淘宝网官方（阿里巴巴集团创始人：马云）创办的一个推广淘宝、天猫商品赚取佣金的平台。</p>
                <h3 style='margin-top:30px;'>怎样成为淘宝客？有什么门槛？</h3>
                <p>&nbsp;成为淘宝客没有任何门槛，你只需有一个淘宝账号，就能在阿里妈妈官网注册成为淘宝客，然后就能开始进行商品推广。</p>
            </div>
            <div class='helpInfo helpInfo3'>
                <h3>最新发布</h3>
                <p>&nbsp;是由入驻积米淘客助手的招商大咖们每日发布的新单，实时更新，让大家每天都能挑选到最新的好单，在给粉丝找单的时候能有更多的优质选择。</p>
                <h3 style='margin-top:30px;'>实时跑单</h3>
                <p>&nbsp;积米淘客助手官网（www.j1m1.com)-实时榜单，综合排序方式按照最近2个小时出单量由高到低进行排序，让大家及时了解最新，最热，领券量最高以及收入比量大的实时好单。</p>
            </div>
            <div class='helpInfo helpInfo4'>
                <h3>微信群发助手</h3>
                <p>&nbsp;微信群发是积米淘客助手团队开发的一款商品群发助手，彻底省略了复杂的推广程序，一键式操作，大大地降低了大家推广的时间成本。</p>
                <h3 style='margin-top:30px;'>QQ群发助手</h3>
                <p>&nbsp;QQ群发助手与微信群发助手类似，强大的后台程序支持，一键式操作优化了很多繁琐的推广步骤，让赚钱变得更容易。</p>
                <h3 style='margin-top:30px;'>什么事转链工具？</h3>
                <p>&nbsp;积米淘客助手-个人中心-转链工具是帮助淘客把心仪的商品链接，转化成可以为自己赚取佣金的链接，并加入我的专属推广页。</p>
                <h3 style='margin-top:30px;'>转链失败？</h3>
                <p>&nbsp;转链失败可能是您选中的商品暂时没有加入淘宝联盟，所以无法参与赚取佣金的活动。</p>
            </div>
            <div class='helpInfo helpInfo5'>
                <h3>商品选取失败</h3>
                <p>&nbsp;商品选取后需要在底部生成专属页，才能成功选取。</p>
                <h3 style='margin-top:30px;'>转链失败？</h3>
                <p>&nbsp;转链失败可能是您选中的商品暂时没有加入淘宝联盟，所以无法参与赚取佣金的活动。</p>
                <h3 style='margin-top:30px;'>怎样成为淘宝客？有什么门槛？</h3>
                <p>&nbsp;成为淘宝客没有任何门槛，你只需有一个淘宝账号，就能在阿里妈妈官网注册成为淘宝客，然后就能开始进行商品推广。</p>
            </div>
            <div class='helpInfo helpInfo6'>
                <h3>积米帮帮客服中心</h3>
                <p>&nbsp;欢迎您来到积米使用帮助中心O(∩_∩)O~<br>&nbsp;如果以上未能解决您的问题，欢迎您加入积米淘客助手官方群。</p>
                <p class="qun">&nbsp;<span></span>积米淘客助手官方群1：511107123(已满)</p>
                <p class="qun">&nbsp;<span></span>积米淘客助手官方群2：596807694</p>
                <p class="qun">&nbsp;<span></span>积米淘客助手官方群3：490010392(已满)</p>
                <p style='margin-top:50px;'>&nbsp;如果您是商家，请加入：</p>
                <p class="qun">&nbsp;<span></span>积米淘客助手商家群：179541253</p>
            </div>
        </div>
        <div style="clear: both"></div><!--清除浮动-->
    </div>
</div>

<include file="public:footer1" />
<include file="public:foot" />
<script>
    $(function(){
        $(".help_info_left li").click(function(){
            $(this).siblings().removeClass("info_xuan");
            $(this).addClass("info_xuan");
            $(".helpInfo").hide();
            $(".helpInfo:eq(" + $(this).index() + ")").show();
        });
    });
</script>
</body>
</html>