 
  <script charset="gbk" async="" src="http://a.alimama.cn/tkapi.js"></script>
  <link rel="stylesheet" type="text/css" href="http://public.zhfile.com/bootstrap/css/bootstrap.min.css?v=20170228">
  <script src="http://hm.baidu.com/hm.js?543f6302ed0fc8d631c2ee9ef08b04d4"></script>
  <script type="text/javascript" src="__JS__/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="__JS__/jquery.fly.min.js?v=20170228"></script>
  <script type="text/javascript" src="__JS__/requestAnimationFrame.js?v=20170228"></script>
  <script type="text/javascript" src="__JS__/bootstrapValidator.js"></script>
  <link rel="stylesheet" type="text/css" href="__CSS__/index.css" />		
  <link rel="stylesheet" type="text/css" href="__CSS__/common.css"/>        		        						
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome-4.5.0/css/font-awesome.min.css?v=20170228"/>
  <script src="http://bootstrap.kinghack.com/bootstrap/2.3.1/js/bootstrap.js" type="text/javascript"></script>
  <script src="__JS__/jquery.form.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="__CSS__/login.css" />
  <script src="__JS__/login.js" type="text/javascript"></script>
  
                  <!--[if lt IE 9]>
              <script type="text/javascript" src="http://public.zhfile.com/js/pack.html5.js?v=20170228"></script>
  <script type="text/javascript" src="http://public.zhfile.com/js/pack.respond.js?v=20170228"></script>
          <![endif]-->
