<style>
    #bottom_btm{height: 210px;background: #191919;color: #FFF;text-align: center;}
    #bottom_btm div{font-size: 30px;font-family: '方正兰亭超细黑简体';padding: 48px 0 30px;}
    #bottom_btm p{font-size: 16px;font-family: '萍方-繁';}
</style>
<!--底部-->
<div id="bottom_btm">
    <div>积米淘客助手，为你更赚钱</div>
    <p>武汉冰盒网络科技有限公司</p>
    <p>© CopyRight 2009-2017  积米淘客助手  j1m1.com   鄂ICP备15025833号</p>
</div>

<div style="display: none;"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5871341'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D5871341' type='text/javascript'%3E%3C/script%3E"));</script></div>