<script type="text/javascript" src="__JS__/jq/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__BUI__/bui-min.js"></script>
<script type="text/javascript" src="__JS__/ClipBoard.js"></script>
<script type="text/javascript" src="__JS__/jq/jquery.fly.min.js"></script>
<script type="text/javascript" src="__JS__/index.js?t={:time()}"></script>
<script type="text/javascript" src="__JS__/layer/layer.js"></script>

<div style="display: none;">
	<script src="https://s22.cnzz.com/z_stat.php?id=1262995498&web_id=1262995498" language="JavaScript"></script>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?61af978bdbf762acac7c850ddf12771f";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</div>