<!DOCTYPE HTML>
<html>

	<head>
		<title>关于我们</title>
		 <link rel="shortcut icon" href="//www.j1m1.com/public/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="积米淘客助手 ，最好用的淘宝客工具" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<link href="__CSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Custom Theme files -->
		<link href="__CSS__/style.css" rel='stylesheet' type='text/css' />
		<!-- Custom Theme files -->
		<!--webfont-->
		<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
		<!--webfont-->
		<link href='//lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<!-- Add fancyBox main JS and CSS files -->
		<script src="__JS__/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="__CSS__/popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
			});
		</script>
		<!--Animation-->
		<script src="__JS__/wow.min.js"></script>
		<link href="__CSS__/animate.css" rel='stylesheet' type='text/css' />
		<script>
			new WOW().init();
		</script>
	</head>

	<body>
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="header-left">
						<div class="logo wow bounceInDown" data-wow-delay="0.4s">
							<a href="index.html"><img src="__IMG__/logo.png" alt="" /></a>
						</div>
						<div class="menu">
							<a class="toggleMenu" href="#"><img src="__IMG__/nav.png" alt="" /></a>
							<ul class="nav" id="nav">
								<li>
									<a href="{:U('mobile/index/index')}">首页</a>
								</li>
								<li>
									<a href="{:U('mobile/index/help')}">帮助</a>
								</li>
								<li class="active">
									<a href="{:U('mobile/index/about')}">关于我们</a>
								</li>
								<div class="clearfix"></div>
							</ul>
							<script type="text/javascript" src="__JS__/responsive-nav.js"></script>
						</div>
						<div class="clearfix"></div>
					</div>
					<ul class="phone wow fadeInUpBig" data-wow-delay="0.4s">
						<li><i class="ph_icon"> </i></li>
						<li>
							<p>027-8966 0560</p>
						</li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="main">
			<div class="content_bottom wow rollIn" data-wow-delay="0.4s">
				<div class="container">
					<h2>公司信息</h2>
					<p>武汉市冰盒网络科技有限公司成立于2009年11月，是一家互联网综合服务提供商。成立6年以来，我们一直秉承“让快乐来得更简单、让生活更有趣、让朋友无处不在！”的经营理念，始终处于稳健发展的状态。</p>
					<p>目前，冰盒把为用户提供“一站式在线生活服务”作为战略目标，提供互联网增值服务、网络广告服务和电子商务服务。通过我们的综合数据业务服务，冰盒打造了多款综合平台，满足互联网用户沟通、资讯、娱乐和电子商务等方面的需求。截至2016年第一季度，我们的累计用户数过千万，最高同时在线用户数达百万。冰盒的发展深刻地影响和改变了数以亿计网民的和生活习惯，并为中国互联网行业开创了更加广阔的应用前景。</p>
					<p>面向未来，坚持自主创新，树立民族品牌是冰盒的长远发展规划。随着在互联网领域的常年积累和公司的发展壮大，我们开始逐渐由一家以赚钱为目标的企业转型为一个勇于承担社会责任的企业。</p>

					<h2>联系我们</h2>
					<p>邮箱：430200</p>
					<p>地址：武汉市江夏区光谷大道303号 光谷芯中心 魔方大厦1501</p>
					<p>电话：027-8966 0560</p>
					<p>邮箱：63371659@qq.com</p>
					<div class="grid_1 text-center">
						<div class="col-md-4 span_1">
							<img src="__IMG__/sharing.jpg" class="img-responsive" alt="" />
							<h3>全面超越 • 操作极简 • 功能强大</h3>
						</div>

						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_icon">
			<i class="icon"><img src="__IMG__/footer_icon.png"> </i>
		</div>
		<div class="footer">
			<div class="container">
				<div class="col-md-2 span_2">
					<h3>联系我们</h3>
				</div>

				<div class="col-md-6 span_3 wow fadeInRight" data-wow-delay="0.4s">
					<ul class="list2 list3">
						<i class="phone"> </i>
						<li class="phone_desc">
							<p>027-8966 0560</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="list2">
						<i class="msg"> </i>
						<li class="phone_desc">
							<p>
								<a href="63371659@qq.com"> 63371659@qq.com</a>
							</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<p class="copy">Copyright &copy; 2017.武汉市冰盒网络科技 All rights reserved.</p>
				</div>
			</div>
		</div>
	</body>

</html>