<!DOCTYPE HTML>
<html>

	<head>
		<title>帮助</title>
		 <link rel="shortcut icon" href="//www.j1m1.com/public/favicon.ico"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="积米淘客助手 ，最好用的淘宝客工具" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<link href="__MCSS__/bootstrap.css" rel='stylesheet' type='text/css' />
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<!-- Custom Theme files -->
		<link href="__MCSS__/style.css" rel='stylesheet' type='text/css' />
		<!-- Custom Theme files -->
		<!--webfont-->
		<script type="text/javascript" src="__MJS__/jquery-1.11.1.min.js"></script>
		<!--webfont-->
		<link href='//lib.baomitu.com/twitter-bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<!-- Add fancyBox main JS and CSS files -->
		<script src="__MJS__/jquery.magnific-popup.js" type="text/javascript"></script>
		<link href="__MCSS__/popup.css" rel="stylesheet" type="text/css">
		<script>
			$(document).ready(function() {
				$('.popup-with-zoom-anim').magnificPopup({
					type: 'inline',
					fixedContentPos: false,
					fixedBgPos: true,
					overflowY: 'auto',
					closeBtnInside: true,
					preloader: false,
					midClick: true,
					removalDelay: 300,
					mainClass: 'my-mfp-zoom-in'
				});
			});
		</script>
		<!--Animation-->
		<script src="__MJS__/wow.min.js"></script>
		<link href="__MCSS__/animate.css" rel='stylesheet' type='text/css' />
		<script>
			new WOW().init();
		</script>
	</head>

	<body>
		<div class="header">
			<div class="container">
				<div class="header_top">
					<div class="header-left">
						<div class="logo wow bounceInDown" data-wow-delay="0.4s">
							<a href="index.html"><img src="__MIMG__/logo.png" alt="" /></a>
						</div>
						<div class="menu">
							<a class="toggleMenu" href="#"><img src="__MIMG__/nav.png" alt="" /></a>
							<ul class="nav" id="nav">
								<li>
									<a href="{:U('mobile/index/index')}">首页</a>
								</li>
								<li class="active"> 
									<a href="{:U('mobile/index/help')}">帮助</a>
								</li>
								<li>
									<a href="{:U('mobile/index/about')}">关于我们</a>
								</li>
								<div class="clearfix"></div>
							</ul>
							<script type="text/javascript" src="__MJS__/responsive-nav.js"></script>
						</div>
						<div class="clearfix"></div>
					</div>
					<ul class="phone wow fadeInUpBig" data-wow-delay="0.4s">
						<li><i class="ph_icon"> </i></li>
						<li>
							<p>027-8966 0560</p>
						</li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="main">
			<div class="content_bottom wow rollIn" data-wow-delay="0.4s">
				<div class="container">
					<h2>第一步：淘宝账号登录</h2>
					<p>下载积米淘客助手，点击并使用淘宝账号登录，等待系统初始化完成。再输入您的常用QQ号，方便用于推广。</p>
					<h2>第二步：选取商品入库</h2>
					<p>点击选取您想要推广的商品，已选商品会加入左侧“已选商品”列表，待您确认后，即可以点击“加入选品库”将商品入库推广。入库的商品将会显示再您的个人推广链接上，以方便您推广赚钱。</p>
					<h2>第三步：生成链接并推广</h2>
					<p>点击“立即推广”按钮，弹出推广文案；点击复制文案 ，此时文案就在粘贴板，然后打开QQ或微信，即可粘贴发送至推广群。</p>
					<div class="grid_1 text-center">
						<div class="col-md-4 span_1">
							<img src="__MIMG__/sharing.jpg" class="img-responsive" alt="" />
							<h3>全面超越 • 操作极简 • 功能强大</h3>
						</div>

						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_icon">
			<i class="icon"><img src="__MIMG__/footer_icon.png"> </i>
		</div>
		<div class="footer">
			<div class="container">
				<div class="col-md-2 span_2">
					<h3>联系我们</h3>
				</div>

				<div class="col-md-6 span_3 wow fadeInRight" data-wow-delay="0.4s">
					<ul class="list2 list3">
						<i class="phone"> </i>
						<li class="phone_desc">
							<p>027-8966 0560</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<ul class="list2">
						<i class="msg"> </i>
						<li class="phone_desc">
							<p>
								<a href="63371659@qq.com"> 63371659@qq.com</a>
							</p>
						</li>
						<div class="clearfix"> </div>
					</ul>
					<p class="copy">Copyright &copy; 2017.武汉市冰盒网络科技 All rights reserved.</p>
				</div>
			</div>
		</div>
	</body>

</html>