<!DOCTYPE html>
<html>

    <head>
        <title>积米淘客助手</title>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS2__/index.css" />
    <link rel="stylesheet" href="__CSS2__/old/css/header.css" />
    <link rel="stylesheet" href="__CSS2__/index2.css" />
    <link rel="stylesheet" href="__CSS2__/index2.css" />
    <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=1bf0503b093b0"></script>
    <style>
        @media (min-width: 0px){
            .col-xs-6 {
                width: 242px;
            }}
        </style>
    </head>
    <body style="min-width: 1200px;min-height: 800px;overflow:auto;">
<include file="public:header2" />
<div id="bottom">
    <div class="coupon">
        <div class="coupon_title">天猫独家</div>
        <include file="public:goods" />
    </div>
</div>
<include file="public:footer1" />
<!--回到顶部-->
<div class="go_top">
    <img src="__IMG2__/menu_up.png" alt=""/>
</div>
</body>
<include file="public:foot" />
<script type="text/javascript" src="__JS__/jq/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="__BUI__/bui-min.js"></script>
<script type="text/javascript" src="__JS__/ClipBoard.js"></script>
<script type="text/javascript" src="__JS__/jq/jquery.fly.min.js"></script>
<script type="text/javascript">

</script>

</html>