<style>
    #bottom .bo_right .kefu span{display: inline-block;width: 29px;height: 33px;background: url('__IMG__/kefu_icon.png');position: relative;top: 8px;right: 8px;}
    #bottom .bl_qun1 a,#bottom .bl_qun2 a{}
</style>
<div id="bottom" style="margin-top: -5px;">
    <div class="bo_main">
        <div class='wx_ewm' style='width: 140px;position: absolute;top: 60px;'>
            <img src="__IMG__/getqrcode.jpg" alt="" style="width:100%;">
            <p style='font-size: 16px;color: #FFF;text-align: center;'>积米官方微信号</p>
        </div>
        <div class='bo_left' style='width:430px;height: 180px;position: absolute;top: 58px;left: 212px;padding-top: 20px;border-right: 1px solid #696F7B;'>
            <p class='bl_title' style='font-size: 16px;color: #f6f6f6;'>欢迎加入积米大家庭：</p>
            <p class='bl_qun2' style='font-size: 16px;color: #f6f6f6;margin-top: 8px;'>积米淘客助手QQ交流群：<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=2dc2a2230593db0ecaa5923839f295aa6e9fdaf573975106bdbb4ba520925303" title="点击加群">528522273</a></p>
            <p class='bl_qun3' style='font-size: 16px;color: #f6f6f6;margin-top: 8px;'>旺旺交流群：1407699530</p>
        </div>
        <div class='bo_right' style='width:340px;position: absolute;right: 0;top: 75px;'>
            <P class='kefu' style='font-size:20px;color: #f6f6f6;'><span></span>客服</P>
            <p class='shijian' style='font-size:16px;color: #f6f6f6;margin-top: 15px;'>周一至周五：9:00-18:00</p>
            <p class='yijian' style='font-size:16px;color: #f6f6f6;margin-top: 10px;'>意见反馈请关注微信公众号</p>
            <p class='banquan' style='font-size:14px;color: #f6f6f6;opacity: 0.62;margin-top: 40px;'>©武汉几米科技公司  ｜  鄂ICP备16000799号-3</p>
        </div>
    </div>
</div>
<script src="https://s22.cnzz.com/z_stat.php?id=5871341&web_id=5871341" language="JavaScript"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?61af978bdbf762acac7c850ddf12771f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>