<!DOCTYPE html>
<html>

<head>
    <include file="public:header" />
    <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="doc-content">
            <div class="panel">
                <div class="panel-header">
                    <h2>从这里快速开始</h2>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</body>

</html>