<!DOCTYPE html>
<html>
    <head>
        <title>帮助中心</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="__CSS2__/newindex.css" />
    </head>
    <body style="min-width: 975px;min-height: 650px;overflow:auto;overflow:hidden">
        <div id="help">
            <div class="top">
                <div onmousedown="TApp.hWMove()" style="width:100%;height: 100%;position: absolute;z-index: 0"></div>
                <!--返回-->
                <div class="toplogo" onclick="window.parent.hiddenIframe('help')"><img src="__IMG2__/img/back.png" alt="" /></div>
                <!--最小化、最大化、关闭-->
                <div class="top_cmi">
                    <!--回菜单-->
                    <!--<div class="topc_menu t_r_least"><a href="javascript:window.parent.hiddenIframe('help');"><img src="__IMG2__/img/icon_menu.png" alt=""></a></div>-->
                    <!--最小化-->
                    <div onclick="TApp.hWMin();" class="topc_min t_r_least"><img src="__IMG2__/img/icon_zuixiao.png" alt=""></div>
                    <!--最大化-->
                    <!--<div onclick="TApp.hWMax();" class="topc_max t_r_most"><img src="__IMG2__/img/icon_zuida.png" alt=""></div>-->
                    <!--关闭-->
                    <div onclick="TApp.hExitApp();" class="topc_close t_r_close"><img src="__IMG2__/img/icon_close.png" alt=""></div>
                </div>
            </div>

            <div class="help_content">
                <div class="help_title">
                    <ul>
                        <li class='li_xuan'><span class="span_rumen"></span><p>新手入门</p></li>
                        <li><span class="span_guanyu"></span><p>关于积米</p></li>
                        <li><span class="span_qunfa"></span><p>群发功能</p></li>
                        <li><span class="span_wenti"></span><p>常见问题</p></li>
                        <li><span class="span_kefu"></span><p>客服中心</p></li>
                    </ul>
                </div>
                <div class="help_conInfo">
                    <!--新手入门-->
                    <div class="new_left_bg help_right" style='display:block;'>
                        <div class="newHand classify">
                            <h3>新手入门指南</h3>
                            <div>
                                <p class="que_title"><span class="que"></span>1.什么是淘客？</p>
                                <p class="ans_con"><span class="ans"></span>淘宝客—类似于淘宝商品或是店铺的导购员，帮淘宝商家推广商品或者店铺的，买家通过推广链接去购买到了商品，淘客就会获得提成。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>2.阿里妈妈是什么？</p>
                                <p class="ans_con"><span class="ans"></span>阿里妈妈即淘宝联盟，是由淘宝网官方创办的一个推广淘宝、天猫商品赚取佣金的平台。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>3.什么是推广位？</p>
                                <p class="ans_con"><span class="ans"></span>推广位是淘宝联盟的后台推广管理，媒体推广管理里面有四种推广方式，设置导购推广是比较常用的推广方式。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>4.如何成为淘宝客？</p>
                                <p class="ans_con"><span class="ans"></span>成为淘宝客没有任何门槛，你只需有一个淘宝账号，就能在阿里妈妈官网注册成为淘宝客，然后就能开始进行商品推广。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>5.淘客如何赚钱？</p>
                                <p class="ans_con"><span class="ans"></span>淘宝商家们通过低价和优惠券吸引淘客帮忙推广，淘客通过帮淘宝商家们将商品链接推广到社交平台，任何买家经过您的推广链接进入淘宝卖家店铺完成购买后，即可获得淘宝商家们支付的推广佣金。</p>
                            </div>
                        </div>
                    </div>
                    <!--关于积米-->
                    <div class="about_left_bg help_right">
                        <div class="about classify">
                            <h3>关于积米淘客助手</h3>
                            <div>
                                <p class="que_title"><span class="que"></span>1.简要介绍:</p>
                                <p class="ans_con"><span class="ans"></span>积米淘客助手是一款专门服务于广大淘客的一站式软件。它最大的特点是操作简单，拥有一键群发功能，海量产品轻松发单，自动申请高佣金计划。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>2.使用前提:</p>
                                <p class="ans_con"><span class="ans"></span>有一个淘宝账号、下载安装并开启了积米淘客助手客软件。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>3.功能板块:</p>
                                <p class="ans_con"><span class="ans"></span>由QQ群发、微信群发、今日推荐、直播间、帮助中心、选择excel、联盟产品库、数据中心、女装尖货、高佣活动、母婴热推、Ifashion、亲宝贝、淘宝汇吃、潮电街、淘宝DIY、极有家、酷动城18个板块构成。海量产品轻松群发，超级稳定。技术美女倾情直播为您介绍淘客助手如何使用，收集淘客问题，专业技术人员作答淘客客户群体。</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>4.特色之处:</p>
                                <p class="ans_con"><span class="ans"></span>①最新发布<br>是由入驻积米淘客助手的招商大咖们每日发布的新单，实时更新，让大家每天都能挑选到最新的好单，在给粉丝找单的时候能有更多的优质选择。<br>②实时榜单<br>积米淘客助手官网综合排序方式按照最近2个小时出单量由高到低进行排序，让大家及时了解最新、最热、领券量最高以及收入比量大的实时好单。</p>
                            </div>
                        </div>
                    </div>
                    <!--群发功能-->
                    <div class="qun_left_bg help_right">
                        <div class="qunFunction classify">
                            <h3>关于群发功能</h3>
                            <div>
                                <p class="que_title"><span class="que"></span>微信QQ群发功能：</p>
                                <p class="ans_con"><span class="ans"></span>积米淘客助手能够通过QQ微信群发，海量产品一键群发，超级稳定，赶紧跟着美女直播学习如何使用积米淘客助手吧！(<a onclick="TApp.hOpenUrl('http://v.qq.com/x/page/u0527ov41k8.html')" style="cursor: pointer;">点击这里，视频说明更详尽。</a>)</p>

                            </div>
                        </div>
                    </div>
                    <!--常见问题-->
                    <div class="q_left_bg help_right">
                        <div class="common_q classify">
                            <h3>常见问题</h3>
                            <div>
                                <p class="que_title"><span class="que"></span>1.关于优惠券的问题: </p>
                                <p class="ans_con"><span class="ans"></span>为什么同样的商品优惠券却不一样呢?什么是店铺优惠券？什么是商品优惠券呢？这一集美女直播将为您一一解答这些疑问。(<a onclick="TApp.hOpenUrl('http://v.qq.com/x/page/r052724m3v3.html')" style="cursor: pointer;">点击这里，视频说明更详尽。</a>)</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>2.关于设置推广位的问题： </p>
                                <p class="ans_con"><span class="ans"></span>有些淘客打开积米淘客助手会出现请设置“媒体资源”的窗口，这是怎么回事呢，这一集将为大家讲解关于媒体管理的相关问题。(<a onclick="TApp.hOpenUrl('http://v.qq.com/x/page/h0527fmchjg.html')" style="cursor: pointer;">点击这里，视频说明更详尽。</a>)</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>3.关于选品的问题：</p>
                                <p class="ans_con"><span class="ans"></span>为什么会出现反复登录淘宝账号的情况呢？为什么这个版本没办法进行批量发送呢？这个小视频将为大家讲解这一系列的问题。(<a onclick="TApp.hOpenUrl('http://v.qq.com/x/page/k0527stq9j7.html')" style="cursor: pointer;">点击这里，视频说明更详尽。</a>)</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>4.关于阿里妈妈的一些问题：  </p>
                                <p class="ans_con"><span class="ans"></span>对于佣金结算是大家最关心的事情，注意佣金结算的同时也要注意不能触犯阿里妈妈相关结算规定，避免违规处罚，赶紧看看有哪些需要注意的吧~(<a onclick="TApp.hOpenUrl('http://v.qq.com/x/page/f05277bsieg.html')" style="cursor: pointer;">点击这里，视频说明更详尽。</a>)</p>
                            </div>
                            <div>
                                <p class="que_title"><span class="que"></span>5.其他问题：  </p>
                                <p class="ans_con"><span class="ans"></span>我们在使用积米淘客助手的时候也会遇到一些其他问题，诸如推广的时候图片会延迟，还有些人提到的软件能不能自动申请高佣金等等问题，看完这集听听主播怎么说！(<a onclick="TApp.hOpenUrl('http://v.qq.com/x/page/q0527j01kmx.html')" style="cursor: pointer;">点击这里，视频说明更详尽。</a>)</p>
                            </div>
                        </div>
                    </div>
                    <!--客服中心-->
                    <div class="cs_left_bg help_right">
                        <div class="customService classify" style="position: relative;">
                            <h3>客服中心</h3>
                            <p style='color: #f6750d;margin-top: 30px;'>欢迎您来到积米使用帮助中心~</p>
                            <p style='margin-top: 10px;'>如果以上未能解决您的问题，欢迎您加入积米淘客助手官方群。</p>
                            <div class='qqcontact'>
                                <div>
                                    <p style='margin-top:3px;'>积米淘客助手vip群</p>
                                    <p style="margin-top:-5px;"><span class="b_qq"></span><b>596807694</b><br><span style="width: 100%;font-size: 12px;top: -6px;left: 40px;">加群验证码:<b style="color:#F6750F;">8899</b></span></p>
                                    <p style='margin-top:-8px;'>积米淘客助手交流群：</p>
                                    <p style="margin-top:-5px;"><span class="o_qq"></span><b>528522273</b></p>
                                    <p style='margin-top:10px;'>积米淘客助手旺旺商家群：</p>
                                    <p style="margin-top:-5px;"><span class="ww"></span><b>1407699530</b></p>
                                </div>
                            </div>
                            <p style='color: #f70000;margin-top: 80px;margin-left: 130px;'>咨询时间：周一到周五&nbsp;9:00~18:00</p>
                            <div style="position: absolute;top: 180px;left: 500px;">
                                <img src="__IMG2__/img/help/getqrcode.jpg" alt="" style="width: 150px;height: 150px;"/>
                                <p style="margin-left: -10px;width: 300px;">微信扫码关注更多资讯尽在:<br>积米淘客助手</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <include file="public:foot" />
    <script type="text/javascript" src="__JS__/clappr.js"></script>
    <script>
                                    $(function () {
                                        setbah();
                                        window.onresize = setbah;
                                        setli();
//            var playerEl=$("<div></div>").appendTo(".qunFunction")[0];
//            var player = new Clappr.Player({source: "http://ugcbsy.qq.com/flv/94/240/u0527ov41k8.p712.2.mp4?sdtfrom=v1010&guid=88e71995c844e733a498f72e145867b1&vkey=1CBEE38166FF2776CAA224E725C91AE8F657687439C7535CE4B656C9CAF2EE0D43503083C1BCAD2AAE8DEA9F685CC4FBC3430D5D0BACFF5E2C00986DBE848F0B0A026C3D0391C8F382A96239A13AADE530E542C40DA025D7BF9C251CE0865291C2C74E1363E4C5174565C91F8782CD43B254807953D87732"});
//            player.attachTo(playerEl);
                                    });


                                    function setbah() {
                                        //banner图  宽：高=115:8
                                        var ba_width = $(".top").width();
                                        var top_h = (ba_width * 9) / 122;
                                        $(".top").height(top_h);

                                        var w_h = $(window).height();
                                        var h_left = w_h - top_h;
                                        $(".help_title,.help_right").height(h_left);
                                    }
                                    function setli() {
                                        $(".help_title li").each(function () {
                                            if ($(this).is(".li_xuan")) {
                                                num = $(this).index();
                                                if (num == 0) {
                                                    $(".li_xuan").css("border-top", "none").find("span").css("background-position-x", "-40px");
                                                }
                                            }
                                            $(this).click(function () {
                                                var num_li = $(this).index();
                                                $(this).siblings().removeClass("li_xuan").find("span").css("background-position-x", "0px");
                                                $(this).addClass("li_xuan").find("span").css("background-position-x", "-40px");
                                                $(".help_right").eq(num_li).siblings().hide();
                                                $(".help_right").eq(num_li).show();
                                            });
                                        });
                                    }
    </script>
</html>
