<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

	<head>
		<include file="public:header" />
		<link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.config.js"></script>
		<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/ueditor.all.min.js"></script>
		<script type="text/javascript" charset="utf-8" src="__STATIC__/ueditor/lang/zh-cn/zh-cn.js"></script>

	</head>

	<body>
		<div class="container">
			<div class="clear">
				<button class="button button-default" onclick="javascript :history.back(-1)">返回</button>
				<button type="button" id="submit" class="button button-primary">更新商品</button>
				<if condition="$item.status eq 3" >
					<button type="button" class="button button-warning btn_sh" data-id='{$item.id}' data-status="1">通过</button>
					<button type="button" class="button button-danger btn_sh" data-id='{$item.id}' data-status="2">不通过</button>
				</if>
			</div>
			<br/>
			<div class="row">
				<div id="tab"></div>
				<form action="{:u('Goods/goods_save')}" class="form-horizontal" method="post" id="goods_update">
					<input type="hidden" name="id" value="{$item['id']}" />
					<div id="panel" class="">
						<div>
							<div class="control-group" style="margin-top: 20px;">
								<label class="control-label"><s>*</s>淘宝商品URL：</label>
								<div class="controls">
									<input type="text" class="input-large taoid" name="auctionUrl" id="url" value="{$item['auctionurl']}" />
									<span class="button button-success get_item" id="btnGet">采集商品信息</span>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商品库分类：</label>
								<div class="controls">
									<select name="cate_id" class="input-normal bui-form-field-select bui-form-field bui-form-field-select-hover bui-form-field-hover bui-form-field-error" aria-disabled="false" aria-pressed="false">
										<option value="0">--请选择--</option>
										<foreach name="cateList" item="itemc">
											<option value="{$itemc.id}" {$itemc['id']==$item['cate_id']?'selected="selected"':""}>{$itemc.name}</option>
										</foreach>
									</select>

								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商品分类：</label>
								<div class="controls">
									
									  
									<select name="item_cate" class="input-normal bui-form-field-select bui-form-field bui-form-field-select-hover bui-form-field-hover bui-form-field-error" aria-disabled="false" aria-pressed="false">
										<option value="0">--请选择--</option>
										<foreach name="cateList2" item="itemc1">
											<option value="{$itemc1.id}"  {$itemc1['id']==$item['item_cate']?'selected="selected"':""}>{$itemc1.name}</option>
										</foreach>
									</select>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商品标签：</label>
								<div class="controls">
									<!--<div id="s1">
    									<input type="hidden" id="hide" value="" name="item_tag">
  									</div>-->
									<foreach name="tagList" item="itemc2">
										
										<input name="item_tag" type="checkbox" value='{$itemc2.id}'  >{$itemc2.name}&nbsp;&nbsp;&nbsp;&nbsp;
									</foreach>
								</div>
							</div>
							<div class="control-group" style="margin-top: 20px;">
								<label class="control-label"><s>*</s>图片地址：</label>
								<div class="controls">
									<input type="text" class="input-large" name="pictUrl" value="{$item['picturl']}" />
								</div>
							</div>
							<div class="control-group" style="margin-top: 20px;">
								<label class="control-label"><s>*</s>优惠券地址：</label>
								<div class="controls">
									<input type="text" class="input-large taoDetail_url" name="couponLink" value="{$item['couponlink']}" />
								</div>
							</div>
							<div class="control-group" style="margin-top: 20px;">
								<label class="control-label"><s>*</s>采集人:</label>
								<div class="controls">
									<input type="text" class="input-span3 taoDetail_url disabled" disabled="disabled" value="{$nickname}" />
								</div>

							</div>
							<img class="taoPic" id="main_img" src="{$item.picturl}" />
						</div>
						<div>
							<div class="control-group" style="margin-top: 20px;">
								<label class="control-label"><s>*</s>店铺id：</label>
								<div class="controls">
									<input type="text" class="input-normal taoid" id="sellerId" name="sellerId" value="{$item['sellerid']}" />
								</div>
							</div>
							<div class="control-group" style="margin-top: 20px;">
								<label class="control-label"><s>*</s>商品淘宝id：</label>
								<div class="controls">
									<input type="text" class="input-normal taoid" id="auctionId" name="auctionId" value="{$item['auctionid']}" />
								</div>
								<label class="control-label"><s>*</s>商品title：</label>
								<div class="controls">
									<input type="text" class="input-normal" name="title" value="{$item['title']}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商店名称：</label>
								<div class="controls">
									<input type="text" class="input-normal taoid" name="shopTitle" value="{$item['shoptitle']}" />
								</div>
								<div class="control-group">
									<label class="control-label"><s>*</s>店铺类型：</label>
									<label class="radio " for=""><input class="is_type_1" type="radio" name="userType" value="0" <if condition="$item['usertype'] eq 0">checked="true"</if>>淘宝</label>
									<label class="radio " for=""><input class="is_type_2" type="radio" name="userType" value="1" <if condition="$item['usertype'] eq 1">checked="true"</if>>天猫</label>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商品销量：</label>
								<div class="controls">
									<input type="text" class="input-large" name="biz30day" value="{$item['biz30day']}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商品原价：</label>
								<div class="controls">
									<input type="text" class="span2 taoPrice" name="reservePrice" value="{$item['reserveprice']}" /> 元
								</div>
								<label class="control-label"><s>*</s>折扣价（现价）：</label>
								<div class="controls">
									<input type="text" class="span2 taoPrice" name="zkPrice" value="{$item['zkprice']}" /> 元
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>商品优惠券金额：</label>
								<div class="controls">
									<input type="text" class="span2 taoPPrice" name="couponAmount" value="{$item['couponamount']}" /> 元
								</div>

								<label class="control-label"><s>*</s>优惠券淘口令：</label>
								<div class="controls">
									<input type="text" class="span2 taoPrice" name="couponLinkTaoToken" value="{$item['couponlinktaotoken']}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>优惠券信息:</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="couponInfo" value="{$item['couponinfo']}" />
								</div>
								<label class="control-label"><s>*</s>优惠券开始日:</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="couponEffectiveStartTime" value="{$item['couponeffectivestarttime']}" />
								</div>
								<label class="control-label"><s>*</s>优惠券结束日:</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="couponEffectiveEndTime" value="{$item['couponeffectiveendtime']}" />
								</div>
								<label class="control-label"><s>*</s>剩余时间:</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="dayLeft" value="{$item['dayleft']}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>优惠券总个数：</label>
								<div class="controls">
									<input type="text" class="input-normal taoNick" name="couponTotalCount" value="{$item['coupontotalcount']}" />
								</div>
								<label class="control-label"><s>*</s>优惠券剩余量:</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="couponLeftCount" value="{$item['couponleftcount']}" />
								</div>
								<label class="control-label" style="margin-left: 20px;"><s>*</s>优惠券最低金额:</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="couponStartFee" value="{$item['couponstartfee']}" />
								</div>
							</div>
							<div class="control-group">
								<label class="control-label"><s>*</s>折扣：</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="rlRate" value="{$item['rlrate']}" />
								</div>
								<label class="control-label"><s>*</s>淘客佣金：</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="tkCommFee" value="{$item.tkcommfee}" />
								</div>
								<label class="control-label"><s>*</s>淘客佣金比</label>
								<div class="controls">
									<input type="text" class="span2 buy_num" name="tkRate" value="{$item.tkrate}" />
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<include file="public:foot" />
		<script type="text/javascript">
			$(function() {
				var catid = "{$item['cate_id']}";
				$('[name=cate_id] option[value=' + catid + ']').attr('selected', 'selected');
				var item_cate="{$item['item_cate']}";
				$('[name=item_cate] option[value=' + item_cate + ']').attr('selected', 'selected');
				var itemtag="{$item['item_tag']}";
				itemtag=itemtag.split(',');
				//tagcheckbox=$(":checkbox[name=checkbox]");
				for(var i=0;i<itemtag.length;i++){
					$(":checkbox[name=item_tag][value="+itemtag[i]+"]").attr("checked","checked")
				}
				//ajax保存修改
				$("#submit").click(function() {
					//:checkbox[name=item_tag]
					// var tag="";
					// $(":checkbox[name=item_tag]").each(function(){
					// 	if($(this).is(":checked")){
					// 		tag+=$(this).val()+",";
					// 	}
					// })
					// tag=tag.substring(0,tag.length-1);
					$.ajax({
						cache: false,
						type: "POST",
						url: "{:U('Goods/goods_update')}",
						data: {
							good_info:$('#goods_update').serializeArray()
						}, //要发送的是ajaxFrm表单中的数据
						async: false,
						success: function(data) {
							if(data.status == 1) {
								BUI.use('bui/overlay', function(overlay) {
									BUI.Message.Alert(data.content, 'success');
								});
								//javascript :history.back(-1);
								setTimeout("history.back(-1)", 1000); //刷新页面
							} else {
								BUI.use('bui/overlay', function(overlay) {
									BUI.Message.Alert(data.content, 'error');
								});
							}
						},
						error: function(data) {
							BUI.use('bui/overlay', function(overlay) {
								BUI.Message.Alert('请求出错，请重新提交！', 'error');
							});
						}
					});
				});

				$('.btn_sh').click(function(){
					$this=$(this);
					$.ajax({
						data:{id:$this.attr("data-id"),status:$this.attr("data-status")},
						url:"{:U('Goods/goods_sh')}",
						type:'post',
						dataType:'json',
						success:function(d){
							if(d.status=1){
								BUI.Message.Alert('审核成功','success')
							}else{
								BUI.Message.Alert(d.message,'info');
							}
						}
					})
				});
				//一键获取
				$("#btnGet").click(function() {
					var url = encodeURIComponent($("#url").val()); //特殊字符编码
					$.ajax({
						cache: false,
						type: "GET",
						url: "{:U('Goods/goods_get_pub_info')}",
						data: {
							'url': url
						}, //要发送的的数据
						async: false,
						success: function(data) {
							if(data.status == 1) {
								//填写表格
								$("input[name='auctionUrl']").val(data.item_info.auctionUrl); //淘宝链接
								$("#main_img").attr("src", data.item_info.pictUrl); //主图地址
								$("input[name='pictUrl']").val(data.item_info.pictUrl); //主图地址
								$("input[name='auctionId']").val(data.item_info.auctionId); //淘宝商品id
								$("input[name='shopTitle']").val(data.item_info.shopTitle); //商店名称
								$("input[name='title']").val(data.item_info.title); //商品title
								$("input[name='reservePrice']").val(data.item_info.reservePrice); //商品原价
								$("input[name='couponAmount']").val(data.item_info.couponAmount); //商品优惠券价格
								$("input[name='couponLink']").val(data.item_info.couponLink); //优惠券链接 
								$("input[name='couponShortLink']").val(data.item_info.couponShortLink); //优惠券链接 couponShortLink
								$("input[name='couponLinkTaoToken']").val(data.item_info.couponLinkTaoToken); //优惠券淘口令
								$("input[name='couponTotalCount']").val(data.item_info.couponTotalCount); //优惠券总个数
								$("input[name='couponLeftCount']").val(data.item_info.couponLeftCount); //优惠券剩余数量
								$("input[name='couponStartFee']").val(data.item_info.couponStartFee); //优惠券使用最低金额:
								$("input[name='couponInfo']").val(data.item_info.couponInfo); //优惠券信息
								$("input[name='couponEffectiveStartTime']").val(data.item_info.couponEffectiveStartTime); //优惠券开始日
								$("input[name='couponEffectiveEndTime']").val(data.item_info.couponEffectiveEndTime); //优惠券结束日
								$("input[name='dayLeft']").val(data.item_info.dayLeft); //剩余时间
								$("input[name='tkCommFee']").val(data.item_info.tkCommFee); //淘客佣金
								$("input[name='tkRate']").val(data.item_info.tkRate); //淘客佣金比
								$("input[name='biz30day']").val(data.item_info.biz30day); //商品销量
								$("input[name='rlRate']").val(data.item_info.rlRate); //折扣
								$("input[name='sellerId']").val(data.item_info.sellerId); //卖家ID
								$("input[name='zkPrice']").val(data.item_info.zkPrice); //折扣价
								if(data.item_info.type == 1) {
									$(".is_type_1")[0].checked = true;
								} else {
									$(".is_type_2")[0].checked = true;
								}
								//弹窗提示
								BUI.use('bui/overlay', function(overlay) {
									BUI.Message.Alert(data.content, function() {
										this.close();
									}, 'success');
								});
								//                        setTimeout("location.reload()",1000); //刷新页面
							} else {
								BUI.use('bui/overlay', function(overlay) {
									BUI.Message.Alert(data.content, 'error');
								});
							}
						},
						error: function(data) {
							BUI.use('bui/overlay', function(overlay) {
								BUI.Message.Alert('请求出错，请重新提交！', 'error');
							});
						}
					});
				});
			});
		</script>
		<script type="text/javascript">
			BUI.use(['bui/tab', 'bui/mask'], function(Tab) {
				var tab = new Tab.TabPanel({
					srcNode: '#tab',
					elCls: 'nav-tabs',
					panelContainer: '#panel', //如果不指定容器的父元素，会自动生成
					// selectedEvent : 'mouseenter',//默认为click,可以更改事件
					autoRender: true,
					children: [{
						title: '商品地址',
						value: '1',
						selected: true
					}, {
						title: '商品信息',
						value: '2'
					}]
				});
			});
		</script>
	</body>

</html>