<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积米淘客助手全新官网</title>
    <!--积米app-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="__IMG__/c_logo.png">
    <link rel="stylesheet" href="__CSS__/index.css" />
</head>
<body style="min-width: 1200px;overflow:auto;overflow-x:hidden">
<div id="main">
    <!--头部导航-->
    <include file="public:header" />
    <!--中间内容-->
    <div id="app_con">
        <!--banner图-->
        <div class="banner" style="background-color: #FFF;">
            <img src="__IMG__/app_banner.png" alt="" style="width: 100%;margin-top: -70px;"/>
        </div>
        <!--精品分类-->
        <div class="app_con app_jpfl" style="height: 648px;background-color: #FFF;">
            <div class="main_width1000" style="position: relative;">
                <div class="con_all_info">
                    <div class="con_info">
                        <h4>精细的商品分类</h4>
                        <p>商品分类/高级筛选 轻松帮你一键勾选袭击所需商品。</p>
                    </div>
                    <div class="type_info">
                        <div>
                            <img src="__IMG__/app_type_htg.png" alt=""/>
                            <p style="color: #3689EF;">海淘购</p>
                        </div>
                        <div>
                            <img src="__IMG__/app_type_jhs.png" alt=""/>
                            <p style="color: #D81E06;">聚划算</p>
                        </div>
                        <div>
                            <img src="__IMG__/app_type_tm.png" alt=""/>
                            <p style="color: #111111;">天猫</p>
                        </div>
                        <div>
                            <img src="__IMG__/app_type_jpmj.png" alt=""/>
                            <p style="color: #FAA037;">金牌卖家</p>
                        </div>
                        <div>
                            <img src="__IMG__/app_type_qqhd.png" alt=""/>
                            <p style="color: #93C13A;">鹊桥活动</p>
                        </div>
                    </div>
                </div>
                <div class="con_pic">
                    <img class="app_pic1" src="__IMG__/app_type1.png" alt=""/>
                    <img class="app_pic2" src="__IMG__/app_type2.jpg" alt=""/>
                </div>
            </div>
        </div>
        <!--功能强大-->
        <div class="app_con app_gnqd" style="height: 510px;">
            <div class="main_width1000" style="position: relative;">
                <div class="con_pic" style="left: 0;">
                    <img class="app_pic1" src="__IMG__/app_qiangda1.png" alt="" style="left: 38px;top: 0;"/>
                </div>
                <div class="con_all_info" style="position: absolute;left: 556px;">
                    <div class="con_info">
                        <h4>功能强大</h4>
                        <p>强大的功能和明细分类，缔造最完善的服务和体系。积米淘客助手，一键您身边专业的赚钱助手。</p>
                    </div>
                    <div class="other_info">包含产品库、今日推荐、效果报表、帮助中心、个人中心五大类</div>
                </div>
            </div>
        </div>
        <!--收入一目了然-->
        <div class="app_con app_ymlr" style="height: 648px;background-color: #FFF;">
            <div class="main_width1000" style="position: relative;">
                <div class="con_info">
                    <h4>收入明细一目了然</h4>
                    <p>明细的效果报表，强大的数据支持，让淘客随心掌握自己的推广状态。</p>
                </div>
                <div class="con_pic">
                    <img class="app_pic1" src="__IMG__/app_shouru1.png" alt=""/>
                    <img class="app_pic2" src="__IMG__/app_shouru2.jpg" alt="" style="top: 275px;"/>
                </div>
            </div>
        </div>
        <!--帮助中心-->
        <div class="app_con app_bzzx" style="height: 590px;">
            <div class="main_width1000" style="position: relative;">
                <div class="con_pic" style="left: 0;">
                    <img class="app_pic1" src="__IMG__/app_help_shouji.png" alt="" style="left: -66px;top: 70px;"/>
                </div>
                <div class="con_info" style="left: 556px;top: -70px;width: 350px;">
                    <h4>帮助中心</h4>
                    <p>掌上帮助中心，给你最好最便捷的体验。</p>
                </div>
            </div>
        </div>
    </div>
    <!--底部导航-->
    <include file="public:foot" />
    <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
</div>
</body>
</html>