<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>积米淘客助手全新官网</title>
        <!--定制app-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="__IMG__/c_logo.png">
        <link rel="stylesheet" href="__CSS__/index.css" />
        <style>
            #dapp_con{height: 700px;background: url('__IMG__/banner_bg_dapp.jpg') no-repeat;background-size: 100% 100%;}
            #dapp_con .banner{width: 1200px;margin: 0 auto;position: relative;}
            #dapp_con .banner .bann_info{color: #FFF;width: 520px;position: absolute;top: 60px;left: 40px;}
            #dapp_con .banner .bann_info .dapp_title{font-size: 36px;color: #FFF;}
            #dapp_con .banner .bann_info .dapp_title_2{font-size: 22px;color: #FFF;text-align: center;margin: 15px 0 30px;}
            #dapp_con .banner .bann_info .dapp_title_2 span{display: inline-block;background: url('__IMG__/dapp_b_bg.png');width: 149px;height: 3px;position: relative;top: 15px;}
            #dapp_con .banner .bann_info .dapp_con{font-size: 20px;width: 100%;color: #FFF;line-height: 40px;}
            #dapp_con .banner .bann_info .dapp_btn{font-size: 26px;color: #E67345;width: 220px;height: 52px;line-height: 52px;border-radius: 26px;background: #FFF;cursor: pointer;text-align: center;margin: 25px auto 15px;}
            #dapp_con .banner .bann_info .dapp_li{margin-left: 168px;}
            #dapp_con .banner .bann_info .dapp_li li{font-size: 14px;color: #FFF;float: left;padding: 0 8px;border-left: 1px solid #FFF;cursor: pointer;opacity: 0.66;}
            #dapp_con .banner .bann_info .dapp_li li:hover{opacity: 1;}
            
            #d_tanc{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,0.6);display: none;z-index: 100;}
        </style>
    </head>
    <body style="min-width: 1200px;overflow:auto;overflow-x:hidden">
        <div id="main">
            <!--头部导航-->
            <include file="public:header" />
            <!--中间内容-->
            <div id="dapp_con">
                <!--banner图-->
                <div class="banner" style='position: relative;'>
                    <div class='bann_info'>
                        <p class='dapp_title'>打造属于您个人的专属手机APP</p>
                        <p class='dapp_title_2'><span class="dt_l" style='float: left;left: 40px;'></span>积米惠购<span class="dt_l" style="float: right;right: 40px;"></span></p>
                        <p class='dapp_con'>定制APP是专门针对淘客提供的一项定制化服务，利用我们专业的技术团队和商品管理团队结合淘宝联盟为淘客提供专业的购物导购APP，用户通过APP购物产生的佣金全部归淘客。捷足先登轻松网赚，你与淘客大神，只差了一个APP！</p>
                        <div class='dapp_btn zixun' onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=2021666870&site=qq&menu=yes')">立即定制</div>
                        <div class='dapp_li'>
                            <ul>
                                <li class="xiazaiApp" style='border:none;'>下载官网APP</li><!--onclick="window.open('http://www.j1m1.com/public/download/huigou.apk')"-->
                                <li class="zixun" onclick="window.open('http://wpa.qq.com/msgrd?v=3&uin=2021666870&site=qq&menu=yes')">我要咨询</li>
                            </ul>
                        </div>
                        <div class="youshi" style="color:#FFF;margin-top: 50px;">
                            <h3 style="color:#FFF;">独家优势</h3>
                            <p style="color:#FFF;margin-top: 12px;">&nbsp;&nbsp;&nbsp;1、方便快捷，只需设置你在淘宝联盟的专属PID，一键定制。</p>
                            <p style="color:#FFF;margin-top: 12px;">&nbsp;&nbsp;&nbsp;2、海量商品每日更新，优惠不断，告别自选自卖。</p>
                            <p style="color:#FFF;margin-top: 12px;">&nbsp;&nbsp;&nbsp;3、更有钻石商铺入驻，给你带来最实惠的价格、最优质的商品。</p>
                            <p style="color:#FFF;margin-top: 12px;">&nbsp;&nbsp;&nbsp;4、成交佣金全部归你所有，拒绝偷单、漏单。</p>
                            <p style="color:#FFF;margin-top: 12px;">&nbsp;&nbsp;&nbsp;5、解决自动发单账户封禁问题，让你躺着就能赚钱。</p>
                        </div>
                    </div>
                    <img src="__IMG__/dapp_banner5.png" alt="" style='position: absolute;right: 66px;top: 175px;'/>
                </div>
                <!--咨询定制弹出层-->
                <div id="d_tanc">
                    <div class="dtc_cl" style="display: none;width: 360px;height: 200px;background-color: #FFF;border-radius: 8px;margin: 0 auto;top: 170px;position: relative;padding: 15px;">
                        <img class="dtc_ok" src="__IMG__/icon_close2.png" alt="" title="关闭" style="position: absolute;right: 8px;top: 8px;width: 25px;height: 25px;cursor: pointer;">
                        <div class='wx_ewm' style='width: 80px;position: absolute;top: 29px;'>
                            <p style="color: red;margin-bottom: 21px;">安卓版</p>
                            <img src="__IMG__/jmhg_logo.png" alt="" style="width:100%;">
                            <!--<p style='font-size: 16px;text-align: center;margin-top: -10px;'>积米官方微信号</p>-->
                        </div>
                        <div class='bo_left' style='position: absolute;top: 70px;left: 120px;'>
                            <p class='bl_title' style='font-size: 24px;'>积米惠购</p>
                            <p class='bl_qun2' style='font-size: 14px;margin-top: 8px;line-height: 25px;'><span>版本：1.0.0.1</span><br><span>大小：6.4MB</span></p>
                            <div style="position: relative;top: 20px;left: -60px;width: 100px;height: 28px;text-align: center;line-height: 28px;background-color: #4D90DE;color: #FFF;border-radius: 5px;cursor: pointer;" onclick="window.open('http://www.j1m1.com/public/download/huigou1.0.0.1.apk')">下载到本机</div>
                        </div>
                        <div style="width: 130px;position: absolute;top: 60px;left: 240px;text-align: center;">
                            <img src="__IMG__/jimihuigou.png" alt="" style="width: 100%;">
                            <p style="">扫码下载APP</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--底部导航-->
            <include file="public:foot" />
    <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
        <script>
            $(function(){
                $(".xiazaiApp").click(function(){
                    $("#d_tanc,.dtc_cl").show();
                });
                $(".dtc_ok").click(function(){
                    $("#d_tanc,.dtc_cl").hide();
                });
            });
    </script>
        </div>
    </body>
</html>