<!DOCTYPE html>
<html>
    <head>
        <title>积米淘客助手全新官网</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="__IMG__/c_logo.png">
        <link rel="stylesheet" href="__CSS__/index.css" />
        <style>
            #video_con{width: 1200px;margin: 0 auto;}
            #video_con .title{font-size: 20px;text-align: center;margin: 70px 0 30px;}
            #video_con .v_con a{color: #000;}
            #video_con .v_con .v_mulu{width: 250px;float: left;padding-left: 50px;}
            #video_con .v_con .v_mulu li{margin: 10px 0;cursor: pointer;}
            #video_con .q_con{width:850px;float: left;}
            #video_con .q_con a{color: #72ACE3;text-decoration: underline;}
            #video_con .q_con a:hover{color: #2172B5;text-decoration: none;}
            #video_con .q_con>div{display: none;}
            #video_con .que_title{font-size: 18px;margin-top: 20px;}
            #video_con .ans_con{margin: 15px 0;line-height: 24px;word-spacing: 26px;}
            #video_con video{width: 750px;margin-top: 20px;}
            #video_con .q_con_fourth .v_video>div{display: none;}
            #video_con .v_video h3{font-size: 18px; font-weight: 100;margin-top: 10px;}
            #video_con .q_con_fifth p{margin-top: 15px;}
            #video_con .q_con_fifth .qcf_rwm{position: absolute;top: 15px;right: 120px;text-align: center;}
        </style>
    </head>
    <body style="min-width: 1200px;overflow:auto;overflow-x:hidden">
        <div id="main">
            <!--头部导航-->
            <include file="public:header" />
            <!--中间内容-->
            <div id="video_con">
                <div class="title">积米淘客助手使用帮助视频教程2.0.0.18版本</div>
                <div class="v_con" style="margin-bottom: 50px;">
                    <div class="v_mulu">
                        <h3>目录</h3>
                        <ul class="dropdown">
                            <li class="onedirs twodirs">
                                <a href="javascript:">一、新手入门指南</a>
                                <ul style="margin-left: 30px;display: none;">
                                    <li><a href="javascript:">1.什么是淘客？</a></li>
                                    <li><a href="javascript:">2.阿里妈妈是什么？</a></li>
                                    <li><a href="javascript:">3.什么是推广位？</a></li>
                                    <li><a href="javascript:">4.如何成为淘宝客？</a></li>
                                    <li><a href="javascript:">5.淘客如何赚钱？</a></li>
                                </ul>
                            </li>
                            <li class="onedirs twodirs">
                                <a href="javascript:">二、关于积米淘客助手</a>
                                <ul style="margin-left: 30px;display: none;">
                                    <li><a href="javascript:">1.简要介绍：</a></li>
                                    <li><a href="javascript:">2.使用前提：</a></li>
                                    <li><a href="javascript:">3.功能板块：</a></li>
                                    <li><a href="javascript:">4.特色之处：</a></li>
                                </ul>
                            </li>
                            <li class="onedirs">
                                <a href="javascript:">三、群发功能使用介绍</a>
                            </li>
                            <li class="onedirs twodirs commonque">
                                <a href="javascript:">四、常见问题汇总</a>
                                <ul style="margin-left: 30px;display: none;">
                                    <li><a href="javascript:">1.关于优惠券</a></li>
                                    <li><a href="javascript:">2.设置推广位</a></li>
                                    <li><a href="javascript:">3.关于选品</a></li>
                                    <li><a href="javascript:">4.关于阿里妈妈的问题</a></li>
                                    <li><a href="javascript:">5.其它问题</a></li>
                                </ul>
                            </li>
                            <li class="onedirs">
                                <a href="javascript:">五、客服中心</a>
                            </li>
                        </ul>
                    </div>
                    <div class="q_con">
                        <div class="q_con_first" style="display: block;">
                            <div>
                                <h3>新手入门指南</h3>
                                <div>
                                    <p class="que_title">1.什么是淘客？</p>
                                    <p class="ans_con">&nbsp;淘宝客—类似于淘宝商品或是店铺的导购员，帮淘宝商家推广商品或者店铺的，买家通过推广链接去购买到了商品，淘客就会获得提成。</p>
                                </div>
                                <div>
                                    <p class="que_title">2.阿里妈妈是什么？</p>
                                    <p class="ans_con">&nbsp;阿里妈妈即淘宝联盟，是由淘宝网官方创办的一个推广淘宝、天猫商品赚取佣金的平台。</p>
                                </div>
                                <div>
                                    <p class="que_title">3.什么是推广位？</p>
                                    <p class="ans_con">&nbsp;推广位是淘宝联盟的后台推广管理，媒体推广管理里面有四种推广方式，设置导购推广是比较常用的推广方式。</p>
                                </div>
                                <div>
                                    <p class="que_title">4.如何成为淘宝客？</p>
                                    <p class="ans_con">&nbsp;成为淘宝客没有任何门槛，你只需有一个淘宝账号，就能在阿里妈妈官网注册成为淘宝客，然后就能开始进行商品推广。</p>
                                </div>
                                <div>
                                    <p class="que_title">5.淘客如何赚钱？</p>
                                    <p class="ans_con">&nbsp;淘宝商家们通过低价和优惠券吸引淘客帮忙推广，淘客通过帮淘宝商家们将商品链接推广到社交平台，任何买家经过您的推广链接进入淘宝卖家店铺完成购买后，即可获得淘宝商家们支付的推广佣金。</p>
                                </div>
                            </div>
                        </div>
                        <div class="q_con_second">
                            <div>
                                <h3>关于积米淘客助手</h3>
                                <div>
                                    <p class="que_title">1.简要介绍：</p>
                                    <p class="ans_con">&nbsp;积米淘客助手是一款专门服务于广大淘客的一站式软件。它最大的特点是操作简单，拥有一键群发功能，海量产品轻松发单。</p>
                                </div>
                                <div>
                                    <p class="que_title">2.使用前提：</p>
                                    <p class="ans_con">&nbsp;有一个淘宝账号、下载安装并开启了积米淘客助手客软件。</p>
                                </div>
                                <div>
                                    <p class="que_title">3.功能板块：</p>
                                    <p class="ans_con">&nbsp;由QQ群发、微信群发、今日推荐、直播间、帮助中心、选择excel、联盟产品库、数据中心、女装尖货、高佣活动、母婴热推、Ifashion、亲宝贝、淘宝汇吃、潮电街、淘宝DIY、极有家、酷动城18个板块构成。海量产品轻松群发，超级稳定。技术美女倾情直播为您介绍淘客助手如何使用，收集淘客问题，专业技术人员作答淘客客户群体。</p>
                                </div>
                                <div>
                                    <p class="que_title">4.特色之处：</p>
                                    <p class="ans_con">①最新发布<br>&nbsp;是由入驻积米淘客助手的招商大咖们每日发布的新单，实时更新，让大家每天都能挑选到最新的好单，在给粉丝找单的时候能有更多的优质选择。<br>②实时跑单<br>&nbsp;积米淘客助手官网综合排序方式按照最近2个小时出单量由高到低进行排序，让大家及时了解最新、最热、领券量最高以及收入比量大的实时好单。</p>
                                </div>
                            </div>
                        </div>
                        <div class="q_con_three">
                            <div>
                                <h3>群发功能使用介绍</h3>
                                <div>
                                    <div class="video_fifth">
                                        <p class="ans_con">&nbsp;积米淘客助手能够通过QQ微信群发，海量产品一键群发，超级稳定，赶紧跟着美女直播学习如何使用积米淘客助手吧！(<a href="http://v.qq.com/x/page/u0527ov41k8.html" target="_blank">点击这里，视频说明更详尽。</a>)</p>
                                        <param name="autostart" value="0">
                                        <param name="movie" value="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&v=u0527ov41k8">
                                        <param name="allowFullScreen" value="true">
                                        <param name="allowScriptAccess" value="always">
                                        <param name="allownetworking" value="all">
                                        <embed width="780" height="500" src="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&auto=1&v=u0527ov41k8" autostart="0" type="application/x-shockwave-flash">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="q_con_fourth">
                            <div>
                                <h3>常见问题汇总</h3>
                                <div class="v_video">
                                    <div class="video_first" style="display: block;">
                                        <h3>&nbsp;&nbsp;1.关于优惠券</h3>
                                        <p class="ans_con">&nbsp;为什么同样的商品优惠券却不一样呢?什么是店铺优惠券？什么是商品优惠券呢？这一集美女直播将为您一一解答这些疑问。(<a href="http://v.qq.com/x/page/r052724m3v3.html" target="_blank">点击这里，视频说明更详尽。</a>)</p>
                                        <embed width="780" height="500" src="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&auto=1&v=r052724m3v3" allowFullScreen="true" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                                    </div>
                                    <div class="video_second">
                                        <h3>&nbsp;&nbsp;2.设置推广位</h3>
                                        <p class="ans_con">&nbsp;有些淘客打开积米淘客助手会出现请设置“媒体资源”的窗口，这是怎么回事呢，这一集将为大家讲解关于媒体管理的相关问题。(<a href="http://v.qq.com/x/page/h0527fmchjg.html" target="_blank">点击这里，视频说明更详尽。</a>)</p>
                                        <embed width="780" height="500" src="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&auto=1&v=h0527fmchjg" allowFullScreen="true" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                                    </div>
                                    <div class="video_three">
                                        <h3>&nbsp;&nbsp;3.关于选品</h3>
                                        <p class="ans_con">&nbsp;为什么会出现反复登录淘宝账号的情况呢？为什么这个版本没办法进行批量发送呢？这个小视频将为大家讲解这一系列的问题。(<a href="http://v.qq.com/x/page/k0527stq9j7.html" target="_blank">点击这里，视频说明更详尽。</a>)</p>
                                        <embed width="780" height="500" src="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&auto=1&v=k0527stq9j7" allowFullScreen="true" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                                    </div>
                                    <div class="video_fourth">
                                        <h3>&nbsp;&nbsp;4.关于阿里妈妈的问题</h3>
                                        <p class="ans_con">&nbsp;对于佣金结算是大家最关心的事情，注意佣金结算的同时也要注意不能触犯阿里妈妈相关结算规定，避免违规处罚，赶紧看看有哪些需要注意的吧~(<a href="http://v.qq.com/x/page/f05277bsieg.html" target="_blank">点击这里，视频说明更详尽。</a>)</p>
                                        <embed width="780" height="500" src="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&auto=1&v=f05277bsieg" allowFullScreen="true" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                                    </div>
                                    <div class="video_sixth">
                                        <h3>&nbsp;&nbsp;5.其它问题</h3>
                                        <p class="ans_con">&nbsp;我们在使用积米淘客助手的时候也会遇到一些其他问题，诸如推广的时候图片会延迟，还有些人提到的软件能不能自动申请高佣金等等问题，看完这集听听主播怎么说！(<a href="http://v.qq.com/x/page/q0527j01kmx.html" target="_blank">点击这里，视频说明更详尽。</a>)</p>
                                        <embed width="780" height="500" src="http://cache.tv.qq.com/qqplayerout.swf?playertype=4&auto=1&v=q0527j01kmx" allowFullScreen="true" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="q_con_fifth">
                            <div style="position: relative;">
                                <h3>客服中心</h3>
                                <div>
                                    <p>欢迎您来到积米使用帮助中心~</p>
                                    <p>如果以上未能解决您的问题，欢迎您加入积米淘客助手官方群。</p>
                                    <p>积米淘客助手QQ交流群：528522273</p>
                                    <p>积米淘客助手旺旺商家群：1407699530</p>
                                    <div class="qcf_rwm">
                                        <img src="__IMG__/getqrcode.jpg" alt="" style="width: 130px;"/>
                                        <p>积米官方微信号</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="clear: both"></div>
                </div>
            </div>
            <!--底部导航-->
            <include file="public:foot" />
            <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
            <script type="text/javascript" src="__JS__/index.js"></script>
            <!--<script type="text/javascript" src="__JS__/tendina.min.js"></script>-->
            <script>
                $(function () {
                    $(".onedirs").click(function () {
                        $(this).siblings().find("ul").slideUp();
                        $(this).find("ul").slideToggle();
                        var oneli_num = $(this).index();
                        $(".q_con>div").hide();
                        $(".q_con>div").eq(oneli_num).show();
                    });
                    $(".commonque li").click(function () {
                        var li_num = $(this).index();
                        $(".v_video>div").hide();
                        $(".v_video>div").eq(li_num).show();
                    });
                    $(".onedirs li").click(function (event) {
                        event.stopPropagation();//阻止事件冒泡
                    });
                });
            </script>
        </div>
    </body>
</html>