<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积米淘客助手全新官网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="__IMG__/c_logo.png">
    <link rel="stylesheet" href="__CSS__/index.css" />
</head>
<body style="min-width: 1200px;overflow:auto;overflow-x:hidden">
<div id="main">
        <!--头部导航-->
        <include file="public:header" />
    <!--中间内容-->
    <div id="seller_con">
        <!--banner图-->
        <div class="banner" style='position: relative;'>
            <img src="__IMG__/seller_banner2.jpg" alt="" style="width: 100%;margin-top: -70px;"/>
            <div style="font-family: '微软雅黑';font-size: 22px;opacity: 0.59;position: absolute;bottom: 78px;left: 50%;margin-left: -120px;">
                <p style='color: #FFF;'>如有更多问题，欢迎您加入积米淘客商家旺旺群：</p>
                <p style='color: #FFF;text-align: right;margin-top: 10px;'>1407699530</p>
            </div>
        </div>
    </div>
        <!--底部导航-->
        <include file="public:foot" />
    <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
</div>
</body>
</html>