<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积米淘客助手全新官网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="__IMG__/c_logo.png">
    <link rel="stylesheet" href="__CSS__/index.css" />
</head>
<body style="min-width: 1200px;overflow:auto;overflow-x:hidden">
<div id="main">
        <!--头部导航-->
        <include file="public:header" />
    <!--中间内容-->
    <div id="trends_con">
        <!--banner图-->
        <div class="banner">
            <img src="__IMG__/trends_banner.jpg" alt="" style="width: 100%;margin-top: -70px;"/>
        </div>
        <!--动态-->
        <div class="trends">
            <div class="trends_top">
                <h3>版本更新</h3>
                <p style="margin: 18px 0 58px;">CHANGE LOG</p>
            </div>
            <div class="history" style="position: relative;">
                <div class="ht_left">
                    <div class="ht" style="margin-top: 81px;width: 221px;height: 41px;background: url('__IMG__/dhk_l1.png');">
                        <p class="p_tit" style="left: 70px;top: 22px;">积米淘客持续完善中……</p>
                    </div>
                    <div class="ht" style="margin-top: 277px;height: 262px;background: url('__IMG__/dhk_l2.png') no-repeat;background-size: 100% 100%;">
                        <p class="p_tit">2.0群发体系更加完善</p>
                        <p class="p_con">不知道自己发了什么，那怎么行！！！新增已发商品、未发商品展示页，一目了然~ 拒绝重复劳动，节省时间，让网赚更轻松。</p>
                        <img class="p_img" src="__IMG__/dhk_l_pic1.jpg" alt="" style="top: 98px;"/>
                    </div>
                    <div class="ht" style="margin-top: 570px;height: 82px;background: url('__IMG__/dhk_l3.png') no-repeat;background-size: 100% 100%;">
                        <p class="p_tit">积米淘客2.0史上最强大的版本</p>
                        <p class="p_con">UI、交互全新改版，数据抓取稳定更高效，后台优化带给您不一样的体验，操作简单，更有美女主播一对一指导让你迅速上手，帮助中心实时解答您的疑问。</p>
                    </div>
                    <div class="ht" style="margin-top: 740px;height: 248px;background: url('__IMG__/dhk_l4.png');">
                        <p class="p_tit">积米淘客助手1.5开始上线</p>
                        <p class="p_con">新增个人中心页面、转链功能，开始进行会员积分制，退出个人专属页模板设置。</p>
                        <img class="p_img" src="__IMG__/dhk_l_pic2.jpg" alt="" style="top: 85px;"/>
                    </div>
                    <div class="ht" style="margin-top: 1140px;height: 240px;background: url('__IMG__/dhk_l5.png');">
                        <p class="p_tit">积米淘客助手1.2开始上线</p>
                        <p class="p_con">积米淘客助手项目1.2上线，UI及交互进行全面改版，数据引擎更新，增加效果爆表项。</p>
                        <img class="p_img" src="__IMG__/dhk_l_pic3.jpg" alt=""/>
                    </div>
                    <div class="ht" style="margin-top: 1418px;height: 68px;background: url('__IMG__/dhk_l6.png');">
                        <p class="p_tit">积米淘客助手1.1上线</p>
                        <p class="p_con">1.1在1.0的基础上进行交互优化、功能优化和数据优化。</p>
                    </div>
                    <div class="ht" style="margin-top: 1668px;height: 68px;background: url('__IMG__/dhk_l7.png');">
                        <p class="p_tit">积米淘客助手诞生了~！</p>
                        <p class="p_con">积米淘客助手项目立项，设计、研发，内测版上线试运行。</p>
                    </div>
                </div>
                <div class="ht_center">
                    <img src="__IMG__/zhuzi.png" alt=""/>
                </div>
                <div class="ht_right">
                    <div class="ht" style="margin-top: 53px;height: 252px;background: url('__IMG__/dhk_r1.png') no-repeat;background-size: 100% 100%;">
                        <p class="p_tit">2.0更完善的帮助体系</p>
                        <p class="p_con">小白快速入门，来帮助中心就够了。新增美女主播在线答疑，解答不了算我输！！！</p>
                        <img class="p_img" src="__IMG__/dhk_r_pic1.jpg" alt="" style="top: 80px;"/>
                    </div>
                    <div class="ht" style="margin-top: 332px;height: 264px;background: url('__IMG__/dhk_r2.png') no-repeat;background-size: 100% 100%;">
                        <p class="p_tit">2.0首页全新改版</p>
                        <p class="p_con">换个马甲，你们还认识我么？由于功能太过简洁，操作太过方便，建议您直接下载体验，实在没什么好说的~~~</p>
                        <img class="p_img" src="__IMG__/dhk_r_pic2.jpg" alt="" style="top: 100px;"/>
                    </div>
                    <div class="ht" style="margin-top: 704px;height: 68px;background: url('__IMG__/dhk_r3.png');">
                        <p class="p_tit">积米淘客1.5功能全新改版</p>
                        <p class="p_con">开始推行QQ，微信一键群发功能，大大地降低了淘客推广的时间成本。</p>
                    </div>
                    <div class="ht" style="margin-top: 1007px;height: 240px;background: url('__IMG__/dhk_r4.png');">
                        <p class="p_tit">积米淘客助手1.2</p>
                        <p class="p_con">增加商品个性推广页以及微信QQ一键发送功能。</p>
                        <img class="p_img" src="__IMG__/dhk_r_pic3.jpg" alt="" style="top: 65px;"/>
                    </div>
                    <div class="ht" style="margin-top: 1492px;height: 240px;background: url('__IMG__/dhk_r5.png');">
                        <p class="p_tit">积米淘客助手1.0正式上线</p>
                        <p class="p_con">积米淘客助手项目正式上线，融合我的产品库、立即推广、单独选取/已选取等功能。</p>
                        <img class="p_img" src="__IMG__/dhk_r_pic4.jpg" alt="" style="top: 83px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--底部导航-->
        <include file="public:foot" />
    <script type="text/javascript" src="__JS__/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__JS__/index.js"></script>
</div>
</body>
</html>