<!DOCTYPE html>
<html lang="en">

    <head>
        <title>积米淘客官网</title>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS2__/old/css/index.css">
</head>
<body style="min-width: 1100px;">
<include file="public:header2" />
<div style="background: #f5f9fc;">
    <!--头部-->
    <div id="center">
        <!--banner-->
        <div id="cu_banner">
            <div class="cube_main">
                <div class="cube_left">
                    <img class="img1" src="__IMG2__/old/img/v3/contactus_icon_xsq1.png" alt="">
                    <img class="img2" src="__IMG2__/old/img/v3/contactus_icon_xsq2.png" alt="">
                    <img class="img3" src="__IMG2__/old/img/v3/contactus_icon_xsq3.png" alt="">
                </div>
                <div class="cube_right">
                    <div class="con_top">欢迎您， </div>
                    <div class="con_cen">联系我们</div>
                </div>
            </div>
        </div>
        <!--详细信息-->
        <div id="cu_info" style="height: 648px;">
            <div id="maincontent">
                <p><span>公司信息</span></p>
                <span style="text-indent: 2em;display: inline-block;font-size: 16px;font-family: '微软雅黑';">武汉市冰盒网络科技有限公司成立于2009年11月，是一家互联网综合服务提供商。成立6年以来，我们一直秉承“让快乐来得更简单、让生活更有趣、让朋友无处不在！”的经营理念，始终处于稳健发展的状态。 </span>
                <div class="clear"></div>
                <span style="text-indent: 2em;display: inline-block;font-size: 16px;font-family: '微软雅黑';">目前，冰盒把为用户提供“一站式在线生活服务”作为战略目标，提供互联网增值服务、网络广告服务和电子商务服务。通过我们的综合数据业务服务，冰盒打造了多款综合平台，满足互联网用户沟通、资讯、娱乐和电子商务等方面的需求。截至2016年第一季度，我们的累计用户数过千万，最高同时在线用户数达百万。冰盒的发展深刻地影响和改变了数以亿计网民的和生活习惯，并为中国互联网行业开创了更加广阔的应用前景。</span>

                <div class="clear"></div>
                <span style="text-indent: 2em;display: inline-block;font-size: 16px;font-family: '微软雅黑';">面向未来，坚持自主创新，树立民族品牌是冰盒的长远发展规划。随着在互联网领域的常年积累和公司的发展壮大，我们开始逐渐由一家以赚钱为目标的企业转型为一个勇于承担社会责任的企业。</span>

                <div class="clear"></div>
                <!-- clear float -->
            </div>
            <p>联系我们</p>
            <div class="cuin_line cuin_con"><span></span>邮编：430200</div>
            <div class="cuin_site cuin_con"><span></span>地址：武汉市江夏区光谷大道303号 光谷芯中心 魔方大厦1501</div>
            <div class="cuin_tel cuin_con"><span></span>电话：027-8966 0560</div>
            <div class="cuin_mail cuin_con"><span></span>邮箱：63371659@qq.com</div>
        </div>
    </div>
</div>
<!--底部-->
<include file="public:footer1" />
</div>
</body>

</html>