<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>积米淘客官网</title>
        <link rel="stylesheet" href="__CSS2__/old/css/index.css">
        <link rel="stylesheet" href="__CSS2__/old/css/footer.css">
        <link rel="stylesheet" href="__CSS2__/old/css/header.css">
    </head>

    <body>
        <div style="min-width: 1100px;">
            <!--头部-->
            <include file="public:header1" />
            <div id="center">
                <!--欢迎-->
                <div id="welcome">
                    <div class="we_main">
                        <div class="we_bg">
                            <span class="we_bg_img1"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img2"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img3"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img4"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img5"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img6"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img7"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                            <span class="we_bg_img8"><img src="__IMG2__/old/img/v3/help_top_bg_yuan.png" alt=""></span>
                        </div>
                        <div class="we_img">
                            <img class="we_img_xsq" src="__IMG2__/old/img/v3/help_top_xsq.png" alt="">
                            <div class="we_img_kk"></div>
                        </div>
                        <div class="we_con">
                            <div class="we_con_top">欢迎您来到,</div>
                            <div class="we_con_cen">积米淘客助手帮助中心</div>
                            <div class="we_con_bot">积米淘客助手，只需三步搞定，赚钱，就是这么简单！</div>
                        </div>
                    </div>
                </div>
                <!--第一步-->
                <div id="first">
                    <div class="main fi_main">
                        <div class="info fi_info">
                            <div class="icon fi_icon">
                                <img src="__IMG2__/old/img/v3/help_first_icon.png" alt="">
                            </div>
                            <div class="title fi_title">
                                <p>第<span><img src="__IMG2__/old/img/v3/help_first_title.png" alt=""></span>步：淘宝账号登录</p>
                            </div>
                            <div class="con fi_con">&nbsp;下载积米淘客助手，点击并使用淘宝账号登录，等待系统初始化完成。再输入您的常用QQ号，方便用于推广。</div>
                        </div>
                        <div class="img fi_img">
                            <img class="fi_img_jian" src="__IMG2__/old/img/v3/help_first_icon2.png" alt="">
                            <img class="pic1" src="__IMG2__/old/img/v3/help_first_pic1.jpg" alt="">
                            <img class="pic2" src="__IMG2__/old/img/v3/help_first_pic2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--第二步-->
                <div id="second">
                    <div class="main se_main">
                        <div class="info se_info">
                            <div class="icon se_icon"><img src="__IMG2__/old/img/v3/help_second_icon.png" alt=""></div>
                            <div class="title se_title">
                                <p>第<span><img src="__IMG2__/old/img/v3/help_second_title.png" alt=""></span>步：选取商品入库</p>
                            </div>
                            <div class="con se_con">&nbsp;点击选取您想要推广的商品，已选商品会加入左侧“已选商品”列表，待您确认后，即可以点击“加入选品库”将商品入库推广。入库的商品将会显示再您的个人推广链接上，以方便您推广赚钱。</div>
                        </div>
                        <div class="img se_img">
                            <!--<img class="fi_img_jian" src="__IMG2__/old/img/v3/help_first_icon2.png" alt="">-->
                            <img class="pic1" src="__IMG2__/old/img/v3/help_second_pic1.jpg" alt="">
                            <img class="pic2" src="__IMG2__/old/img/v3/help_second_pic2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <!--第三步-->
                <div id="third">
                    <div class="main th_main">
                        <div class="info th_info">
                            <div class="icon th_icon"><img src="__IMG2__/old/img/v3/help_third_icon.png" alt=""></div>
                            <div class="title th_title">
                                <p>第<span><img src="__IMG2__/old/img/v3/help_third_title.png" alt=""></span>步：生成链接并推广</p>
                            </div>
                            <div class="con th_con">&nbsp;点击“立即推广”按钮，弹出推广文案；点击复制文案 ，此时文案就在粘贴板，然后打开QQ或微信，即可粘贴发送至推广群。</div>
                        </div>
                        <div class="img th_img">
                            <img class="pic1" src="__IMG2__/old/img/v3/help_third_pic1111.jpg" alt="">
                            <img class="pic2" src="__IMG2__/old/img/v3/help_third_pic2.jpg" alt="">
                            <img class="pic3" src="__IMG2__/old/img/v3/help_third_pic3.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!--底部-->
            <include file="public:footer1" />
        </div>
    </body>

</html>