<!DOCTYPE html>
<html>

    <head>
        <title>积米淘客助手</title>
    <include file="public:head" />

    <link rel="stylesheet" href="__CSS2__/old/css/header.css" />
    <link rel="stylesheet" href="__CSS2__/index.css" />
    <link rel="stylesheet" href="__CSS2__/index2.css" />
    <script id="-mob-share" src="http://f1.webshare.mob.com/code/mob-share.js?appkey=1bf0503b093b0"></script>
    <style>
        @media (min-width: 0px){
            .col-xs-6 {
                width: 242px;
            }}
        </style>
    </head>
    <body style="min-width: 1225px;min-height: 800px;overflow:auto;">
    <div id="main">
        <include file="public:header2" />
        <div id="bottom_bg">
            <div id="bottom">
                <!--banner轮播-->
                <div class="cen_other">
                    <div class="com_lunbo">
                        <img src="__IMG2__/img/banner1.jpg" alt="" style="width:100%;"/>
                    </div>
                </div>
                <!--商品预告及商品列表-->
                <div class="foreshow">
                    <div class="goods_center" style="min-width:1220px;">
                        <!--预告-->
                        <div class="goods_schedule">
                            <div class="goods_time1">
                                <span></span>
                                <div>昨日</div>
                            </div>
                            <div class="goods_time2">
                                <span></span>
                                <p><b>09:00</b><span>正在抢购</span></p>
                            </div>
                            <div class="goods_time3">
                                <span></span>
                                <p><b>13:00</b><span>正在抢购</span></p>
                            </div>
                            <div class="goods_time4">
                                <span></span>
                                <p><b>19:00</b><span>即将开始</span></p>
                            </div>
                            <div class="goods_time5">
                                <div>预告</div>
                            </div>
                        </div>
                    </div>
                    <!--预告商品-->
                    <div class="goods_foreshow">
                        <volist name="items" id="item" offset="0" length="6">
                            <div class="for_goods">
                                <div class="for_goods_img"> <a href='{$item.auctionurl}' target="_blank"> <img src="{$item.picturl}" alt=""/></a></div>
                                <div class="for_goods_btn">
                                    <div class="for_goods_btn1 for_goods_spread">加入推广</div>
                                    <div class="for_goods_btn1 copy_text" style="margin-left:50.2%;">复制文案</div>
                                    <div class="intro" id="intro_{$item.auctionid}">
                                        <span class="jiantou_left"></span>
                                        <img width="50" height="50" class="thumb" src="{$item.picturl}" _scr="{$item.picturl}" id="{$item.auctionid}" alt="">
                                        <br> {$item.title}
                                        <br>原价【{$item.reserveprice}】 {$item["usertype"]==1?"天猫":""}券后【{$item['zkprice']-$item['couponamount']}】 现价【{$item.zkprice}】
                                        <br>优惠券：<span>{$item.couponlink}</span>
                                        <br>下单链接：<span>{$item.auctionurl}</span>
                                    </div>
                                </div>
                                <div class="for_goods_info">
                                    <!--                                    <div class="for_goods_shang"><img src="__IMG2__/img/pinpai.jpg" alt="" style="width:100%;height:100%;"></div>-->
                                    <div class="for_goods_con">
                                        <div class="for_goods_title" title="{$item.title}"><a href='{$item.auctionurl}' target="_blank">{$item.title}</a></div>
                                        <div class="for_goods_heng" title="已领取<?php echo (1-$item['couponleftcount']/$item['coupontotalcount'])*100 ?>%">
                                            <div style="width: <?php echo (1-$item['couponleftcount']/$item['coupontotalcount'])*100 ?>%"></div>
                                        </div>
                                        <div class="for_goods_quan">
                                            <div class="for_goods_quan_e">
                                                <p>券金额</p>
                                                <p><span class="qian_b"></span>{$item['couponamount']|round=###,2}</p>
                                            </div>
                                            <div class="for_goods_quan_h" style="border-left:1px solid #E2E2E2;border-right:1px solid #E2E2E2;">
                                                <p>券后价</p>
                                                <p><span class="qian_b"></span>{$item['zkprice']-$item['couponamount']}</p>
                                            </div>
                                            <div class="for_goods_quan_t">
                                                <p>{$item['eventrate']!=0?'高佣':$item['author']==0?'通用':'定向'}</p>
                                                <p>{$item['eventrate']!=0?$item['eventrate']:$item['tkrate']}<span style="font-weight: 100">%</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </volist>
                        <div style="clear: both"></div><!--清除浮动-->
                    </div>
                </div>

                <!--领券直播-->
                <div class="coupon">
                    <div class="coupon_title">领券直播</div>
                    <include file="public:goods" />
                </div>
            </div>
            <!--回到顶部-->
            <div class="go_top">
                <img src="__IMG2__/menu_up.png" alt=""/>
            </div>
        </div>
        <include file="public:footer1" />
        <div class="bots_alradd_bg ba_st"></div>
    </div>
</div>
<div id='usertemp' style="display:none">{$temp}</div>
<div id='customdoc' style="display:none">
</div>
</body>
<include file="public:foot" />

</html>