<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>积米淘客助手</title>
    <include file="public:head" />
    <link rel="stylesheet" href="__CSS2__/svc.css">
</head>
<body>
<include file="public:header2" />
<div id="qqsvc" class="svc">
    <div class="que_ans qqque_ans">
        <div class="qa_main">
            <!--                <div class="video">
                                <img src="__IMG2__/video.jpg" alt="">
                            </div>-->
            <div class="svc_explain">
                <div class="svc_title"><img src="__IMG2__/qqsvc_title.png" alt=""></div>
                <!--<div class="svc_t_info">QQ群发助手为您打造最智能最简便的群发方式，只需轻松三步骤~赶紧来使用吧~不懂怎么办？没事，问主播！点击左边立即让主播解惑~</div>-->
                <div class="svc_t_info">QQ群发助手为您打造最智能最简便的群发方式，只需轻松三步骤~赶紧来使用吧!</div>
                <div class="svc_download_but" onclick="window.open('http://www.j1m1.com/public/download/qqsvc-1.0.0.0.exe', '_blank')">立即下载使用</div>
            </div>
        </div>
    </div>
    <div class="step">
        <div class="step_exp">
            <h4>QQ群发助手让QQ推广省时省心又省力</h4>
            <p>&nbsp;积米淘客助手为了方便广大淘客用户在推广中更加省时省力，开发了QQ群发助手，此插件能实现QQ推广商品一键群发，大大的节省了用户的时间成本。</p>
        </div>
        <div class="step_main">
            <div class="step_first" style="height: 541px;">
                <div class="step_title">
                    <h3><span></span>积米QQ群发助手使用方法</h3>
                </div>
                <div class="step_left step_f_left">
                    <img src="__IMG2__/svc_first.jpg" alt="">
                    <h4 class="step_f_title">生成专属页并登陆QQ群发助手</h4>
                    <p class="step_f_con">&nbsp;使用淘宝助手选取商品，然后点击生成专属页；下载并登陆积米QQ群发工具；</p>
                </div>
                <div class="step_right step_f_right">
                    <img src="__IMG2__/qqsvc_public_pic.jpg" alt="" class="step_pic1">
                    <img src="__IMG2__/svc_first_pic1.jpg" alt="" class="step_pic2">
                </div>
            </div>
            <div class="step_second step_info">
                <div class="step_left step_s_left" style="float: right;">
                    <img src="__IMG2__/svc_second.jpg" alt="">
                    <h4 class="step_s_title">编辑群：将QQ群拖入文件夹</h4>
                    <p class="step_s_con">&nbsp;点击编辑群按钮,这时会打开一个文件夹，然后将要群发的QQ群直接从QQ中拖入文件夹；</p>
                </div>
                <div class="step_right step_s_right" style="float: left;">
                    <img src="__IMG2__/qqsvc_public_pic.jpg" alt="" class="step_pic1">
                    <img src="__IMG2__/qqsvc_second_pic1.jpg" alt="" class="step_pic2">
                </div>
            </div>
            <div class="step_third step_info">
                <div class="step_left step_t_left">
                    <img src="__IMG2__/svc_third.jpg" alt="">
                    <h4 class="step_t_title">刷新并开始群发</h4>
                    <p class="step_t_con">&nbsp;QQ群选择完后，点击刷新，群发工具右边会显示刚刚拖入的群名称，最后点击 开始群发。<span>(注意，开始群发后请勿使用鼠标和键盘、如要停止请按ctr+F1)</span></p>
                </div>
                <div class="step_right step_t_right">
                    <img src="__IMG2__/qqsvc_public_pic.jpg" alt="" class="step_pic1">
                    <img src="__IMG2__/svc_third_pic1.jpg" alt="" class="step_pic2">
                </div>
            </div>
        </div>
    </div>
</div>
<include file="public:footer1" />
<include file="public:foot" />
</body>
</html>