<!--<div style=" width:25%;overflow:hidden; display:none; position:absolute;height:600px;right:0px;top:75px; z-index:99999999;" id="qqbox">
					<div class="panel" style="height:50%; width:100%;  padding:0px;margin:0px; ">
						<div class="panel-header">
							<h5>群发列表 <span class="button button-primary" onclick="TApp.hOpenDir();" >修改</span></h5>
						</div>
						<div id="rightbox" class="panel-body" style="max-height:333px; overflow:hidden;overflow-y: auto;">

						</div>
					</div>
					<div class="panel" style="padding:0xp;">
						<div class="panel-header" style="">
							<h5>设置</h5>
						</div>
						<div class="panel-body" style="overflow:hidden;">
							<p>单次间隔:<span id="miao">5</span>秒</p>
							<div class="row">
								<div id="s1" style="width:100%;padding-left:16px;padding-right:8px;">

								</div>
							</div>
							<p style="margin-top:10px;">每轮间隔:<span id="miao1">20</span>秒</p>
							<div class="row">
								<div id="s2" style="width:100%;padding-left:16px;padding-right:8px;">

								</div>
							</div>
							<p style="margin-top:10px;">是否循环群发:<input id="isrestart" type="checkbox" class="" /></p>
						</div>
						<div style="margin:0px;width:100%;padding:0x; height:93px;">
							<button class="button button-primary" id="start_btn" onclick="start()" style="width:100%;height:100%;margin:0px;border:0px;">开始</button>
						</div>
					</div>
</div>-->