<div id="top">
    <div class="top_logo" onmousedown="TApp.hWMove()">积米淘客助手</div>
    <div class="top_menu">
        <ul>
            <li <eq name="tophead" value="index_index"> class="t_menu_h" </eq>>
                <a href="{:U('/hamster/index')}">产品库</a>
            </li>
            <li <eq name="tophead" value="user_rpf"> class="t_menu_h" </eq>>
                <a href="{:U('/hamster/user/rpf')}">效果报表</a>
            </li>
            <li <eq name="tophead" value="user_usercenter"> class="t_menu_h" </eq>>
                <a href="{:U('/hamster/user/usercenter')}">个人中心</a>
            </li>
            <li <eq name="tophead" value="user_help"> class="t_menu_h" </eq>>
                <a href="{:U('/hamster/user/help')}">帮助中心</a>
            </li>
        </ul>
    </div>
    <div class="top_cmi">
        <!--最小化-->
        <div onclick="TApp.hWMin();" class="topc_min t_r_least"><img src="__IMG2__/t_minimum.png" alt=""></div>
        <!--最大化-->
        <div onclick="TApp.hWMax();" class="topc_max t_r_most"><img src="__IMG2__/t_maximum.png" alt=""></div>
        <!--<div onclick="TApp.hWMax();" class="topc_max t_r_most"><img src="__IMG2__/t_maximum_min.png" alt=""></div>-->
        <!--关闭-->
        <div onclick="TApp.hExitApp();" class="topc_close t_r_close"><img src="__IMG2__/t_close.png" alt=""></div>
    </div>
</div>