*
{
    cursor: url("img/p.cur");
}

body,form,img,a
{
    margin:0;
    padding:0;
    border:0;
    text-align:center;
}
#logo
{
    width:960px;
    height:50px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
}
#menu
{
    margin-left:auto;
    margin-right:auto;
    width:960px;
    height:40px;
    background-image:url("../img/menu.gif");
    

}
#menu_s
{
    width:960px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
    white-space:nowrap;
    
}
#menu ul
{
    padding-left:5px;
    text-align:center;
    margin:0;
}
#menu ul li
{
    white-space:nowrap;
    margin-top:8px;
    display: inline;
    float: left;
    line-height: 25px;
}
#menu ul li.left
{
    margin-left:18px;
}
#menu ul li a
{
    text-decoration: none;
    display: block;
    color:#FFFFFF;
    font-size:14px;
    width:81px;
    height:23px;
    background:none;
}
#menu ul li a:hover
{
    text-decoration: none;
    display: block;
    color:  #002651;
    width:81px;
    height:23px;
    background:url("../img/hover.gif");
    background-repeat: no-repeat;
}
