.f_l{float: left;}
.f_r{float: right;}
.opac{opacity: 0.8;}
.owt{overflow: hidden; white-space: nowrap;text-overflow: ellipsis;}
.owt1{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;}/*商品有券时，商品标题只显示一行*/
.owt2{overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}/*商品标题最多两行*/
a{text-decoration:none;}
a:link{ text-decoration: none;}

/*头部导航*/
.nav_ul{height: 30px;overflow: hidden;}
.nav_ul a {color: #FFF;font-size: 20px;}
.nav_ul a:hover {color: #F8B05B;background-color: #2F4048;text-decoration: none;width: 100%;height: 100%;display: inline-block;background: #405258;}
.nav_ul li {float: left;width: 120px; text-align: center;margin-right: 5px;height: 30px;line-height: 30px;}
#nav .nav_a_col{color: #F8B05B;background: #6A7C7E;width: 100%;height: 100%;display: inline-block;}

.t_r{position: relative;top: 0px;right: -30px;}
.t_r .tr_cml{width: 94px;height: 25px;border: 1px solid #000;border-top: none;border-bottom-left-radius: 4px;border-bottom-right-radius: 4px;position: absolute;right: 0;box-shadow: 0px 0px 6px -1px #E5E5E5;}
.t_r .tr_cml div{width: 30px;height: 24px;float: right;overflow: hidden;}
.t_r .tr_cml div:hover {cursor: pointer;box-shadow: 0px 0px 6px 0px #E5E5E5;background: #32464B;}
.t_r div img{width: 20px;height: 20px;margin-left: 4px;margin-top: 2px;}
.t_r .t_r_close img{width: 24px;height: 24px;margin-top: 0px;}
.t_r .t_r_most img{margin-left: 5px;}
.t_r .tr_cml .t_r_most{width: 32px;border: 1px solid #000;border-top: none;border-bottom: none;}

#t_myfrom{margin-top: 45px;margin-right: 75px;float: right;position: relative;z-index: 5;}
#t_myfrom div{color: rgba(255,255,255,.7);font-size:16px;}
#t_myfrom div i{position: absolute;top: 9px;left: 10px;}
#t_myfrom input{background-color: #263339;border: none;height: 24px;width: 134px;border-radius: 15px;padding-left: 32px;}

#left .info_jb {background: #424B52;color: #FFF;text-align: center;font-size: 18px;}
#left .info_jb .tou {width: 105px;height: 105px;border-radius: 50%;margin-top: -90px;}
#left .info_qt { height: 78px;background: #72808D;text-align: center; }
#left .info_qt > div {width: 33%;height: 100%;float: left;color: #FFF;}
#left .info_qt > div p:first-child {font-size: 18px;margin: 14px 0 -5px;}
#left .info_qt > div p:nth-child(2) {font-size: 16px;}
#left .info_qt span {width: 23px; height: 18px;display: inline-block;background: url("/Public/hamster/images/icon.png");margin-right: 5px;position: relative;top: 5px;}
#left .info_qt .dengji span {background-position: 2px -20px;}
#left .info_qt .jifen span {background-position: -25px -20px;}
#left .info_qt .xpk span {background-position: -48px -20px;}
.as_goods_info {height: 57px; margin-top: 15px;position: relative;}
.as_goods_info:hover { background: #717F8C;cursor: pointer;}

#style-1::-webkit-scrollbar {width: 8px;background-color: #606C78;}/*设置滚动条的宽度和背景颜色*/
#style-1::-webkit-scrollbar-thumb {border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);background-color: #FFFFFD;}/*设置滚动条的颜色*/
#style-1::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);border-radius: 10px;background-color: #4D5761;}/*设置滚动槽的背景颜色*/
#right::-webkit-scrollbar {width: 10px;background-color: #2F4048;}/*设置滚动条的宽度和背景颜色*/
#right::-webkit-scrollbar-thumb {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);background-color: #2F4048;}/*设置滚动条的颜色*/
#right::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);background-color: #FFF;}/*设置滚动槽的背景颜色*/
.qian { width: 8px;height: 11px;background: url("/Public/hamster/images/icon.png");display: inline-block;}
.qian_y {background-position: 0px -40px;}
.qian_w {background-position: -10px -40px;}
.qian_b{width: 8px;height: 9px;background: url("/Public/hamster/images/icon_qian_B.png");display: inline-block;}
.as_goods_info img {width: 57px;height: 57px;float: left;}
.as_goods_info .as_goods_con {float: left;margin-left: 10px;color: #FFF;}
.as_goods_info .as_goods_con p { margin: 0;}
.as_goods_info .as_goods_con .as_goods_yong {color: #E19D17;}
.as_goods_con .as_goods_title{width: 230px;}

.as_goods_info_close{width: 9px;height: 9px;background: url("/Public/hamster/images/icon_close.png");position: absolute;right: 5px;top: 2px;background-size: 100%;opacity: .4;}
.as_goods_info_close:hover{opacity: 1;transform: rotate(90deg);transition: 500ms;}

.goods_info .good_t_q{height: 16px;display: inline-block;background: url("/Public/hamster/images/icon.png") 0 -74px;margin-top: 5px;}
.goods_info .good_t_q .good_t_jg{border: 1px solid #FE5600;border-left: none;margin-left: 17px;height: 14px;text-align: center;line-height: 14px;color: #FE5600;font-size: 12px;padding-left: 3px;padding-right: 3px;}


.goods_info h5{line-height: 20px;height: 40px;}
.goods_info h5 a{color: #000;font-size: 15px;}
.goods_info h5 a:hover{text-decoration: none;}
#left { width: 360px;position: relative;left: 0;/*min-height: 640px;*/}
#right {/*min-width: 840px;min-height: 640px;*/position: absolute;left: 360px;top: 110px;background: #E5E5E5;overflow-y: auto;}
.as_goods{width: 100%;overflow:auto;}
.as_goods .as_goods_info:first-child{margin-top: 5px;}
.good_m,.good_y{height: 35px;font-size: 14px;line-height: 33px;}
.good_m p,.good_y p{margin: 0;}
.good_y .good_y_b{color: #FF6214;}
.good_but{background: #FCFCFC;height: 75px;}
.good_but .goods_but{background: #FFF;width: 49%;height: 40px;text-align: center;line-height: 40px;font-size: 16px;cursor: pointer;}
.good_but .goods_but:hover{font-weight: 700;}
.good_d{height: 35px;line-height: 32px;padding-left: 10px;}
.good_d .good_d_dp{width: 12px;height: 10px;display: inline-block;background: url("/Public/hamster/images/icon.png") -23px -41px;margin-right: 3px;}
.good_d p{margin: 0;}
.good_d p:first-child{width: 60%;}
.good_d .good_d_r{width: 16px;height: 16px;display: inline-block;background: url("/Public/hamster/images/icon.png");margin-right: 5px;margin-top: 10px;}
.good_d .good_d_q{background-position: 0px -55px;}
.good_d .good_d_t{background-position: -19px -55px;}
.good_d .good_d_d{background-position: -40px -55px;}

.good_img{width: 100%;}
.goods{width: 100%;background: #FFF;}
.goods:hover{outline: 1px solid red;}


*{margin: 0;padding: 0;}
#tg_bg{position: fixed;width: 100%;height: 100%;left: 0;top: 0;background: rgba(50,50,50,.5);display: none;}
.tg_main{width: 698px;height: 498px;position: relative;left: 50%;margin-left: -350px;margin-top: 120px;background: #FFF;border: 1px solid #31393D;}
.tg_top{height: 37px;}
.tg_top .top_title{width: 120px;height: 37px;background: #606C78;color: #FFF;text-align: center;line-height: 37px;font-size: 23px;float: left;}
.tg_top .top_close{width: 37px;height: 37px;float: right;background: #606C78;text-align: center;line-height: 37px;}
.tg_top .top_close:hover{cursor:pointer;}
.tg_top .top_close img{margin-left: 1px;margin-top: -1px;}
.tg_content .con_title{height: 50px;text-align: center;font-size: 20px;padding-top: 10px;}
.tg_content .content{padding: 0 37px 60px 22px;}
.content .con_img{width: 234px;height: 234px;border: 1px solid silver;float: left;margin-top: 36px;padding: 5px;}
.content .con_img img{width: 100%;height: 100%;}
.content .con_info{width: 380px;height: 350px;float: right;}
.content .con_price{width: 378px;height: 66px;background: #606C78;margin: 15px 0;}
.content .con_price>div{}
.content .con_price .con_price_1{height: 100%;padding: 0 6px 0 6px;float: left;}
.content .con_price .con_price_1 .con_price_qian{display: inline-block;width: 22px;height: 28px;background: url("/Public/hamster/images/icon_qian.png");float: left;margin-top: 26px;}
.content .con_price .con_price_1 .con_price_jg{font-size: 40px;color: #FFF;font-weight: 700;float: left;margin-top: 24px;}
.content .con_price .con_price_1 .con_price_qhj{display: inline-block;width: 39px;height: 37px;background: url("/Public/hamster/images/icon_qhj.png");float: left;margin-top: 24px;}

.content .con_price .con_price_zd{height: 42px;float: left;color: #FFF;font-size: 15px;    margin: 7px 0;padding: 5px 5px;}
.content .con_price .con_price_2{border-right: 1px dashed;}
/*.content .con_price .con_price_3{padding-left: 20px;}*/

.content .con_price_a{font-size: 15px;line-height: 1.2;}
.content .con_price_a a{text-decoration: underline;color: #0066CC;font-size: 15px;overflow: hidden;margin-top: -12px}
.content .con_price_order{margin-top: 12px}
.content .con_button{margin-top: 20px;float: right;}
.content .con_button button{width: 126px;height: 40px;line-height: 40px;text-align: center;border: none;font-size: 20px;color: #FFF;}
.content .con_button .con_but_copy{background: #0081FF;}
.content .con_button .con_but_add{background: #1CD628;margin: 0 10px 0 28px;}

.content .con_fx{margin-top: 80px;font-size: 18px;}
.content .con_fx p span{display: inline-block;margin-left: 10px;}
.content .con_fx p .con_fx_qzon{background: url("/Public/hamster/images/icon_qq.png");width: 29px;height: 29px;}
.content .con_fx p .con_fx_wx{background: url("/Public/hamster/images/icon_wx.png");width: 28px;height: 28px;}
.content .con_fx p .con_fx_xl{background: url("/Public/hamster/images/icon_xl.png");width: 28px;height: 28px;}
.content .con_fx p .con_fx_rr{background: url("/Public/hamster/images/icon_rr.png");width: 27px;height: 27px;}
.content .con_fx p .con_fx_qq{background: url("/Public/hamster/images/qq.png");width: 28px;height: 28px;}

.list-item .intro{position:absolute;width:400px;height:auto;word-break:break-all;background:#4DA6F3;border-radius:5px;color:#fff;padding:10px;z-index:99999;display:none;margin-left:270px}
.list-item{background-color:#fff;border:1px solid #dcdcdc;margin:10px;width:285px;position:relative}
.list-item:hover{border-color:#f04848;box-shadow:0 2px 5px #ccc}

.custom-dialog{
    border: none;
    -webkit-box-shadow : none;
    box-shadow : none;
}

.custom-dialog .bui-stdmod-header,.custom-dialog .bui-stdmod-footer{
    display: none;
}
.modal-body iframe body{
    overflow-x:hidden;overflow-y:auto;
}


