<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>积米网后台管理系统</title>
    <script type="text/javascript" src="__JS__/jquery-1.8.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'microsoft yahei', Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div id="loginModal" class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                        <h1 class="text-center text-primary">登录失败</h1>
                    </div>
                <div class="modal-body">
                    <p>你没有相关操作权限！！</p>
                    <p>请联系管理员</p>
                </div>
                <div class="modal-footer">
                    <label>版本：0.0.16</label>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        (function () {
            var time = 5;
            var interval = setInterval(function () {
                if (--time <= 0) {
                    location.href = "{:U('login/out')}";
                    clearInterval(interval);
                }
            }, 1000);
        })();
    </script>
</body>

</html>