<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <include file="public:header" />
        <link href="__CSS__/page-min.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <div class="container" >
            <div class="row">
                <form action="{:u('Slides/slides_update')}" class="form-horizontal" method="post" id="slides_update">
                    <div class="control-group">
                        <label class="control-label"><s>*</s>标题：</label>
                        <input type="hidden" name="id" value="{$slides.id}" />
                        <div class="controls">
                            <input type="text" class="input-normal taoNick" name="title" value="{$slides.title}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label"><s>*</s>分类排序：</label>
                        <div class="controls">
                            <input type="text" class="span2 taoPrice" name="order" value="{$slides.order}"/> （越大越靠后）
                        </div>
                    </div>

                  <div class="control-group">
                        <label class="control-label"><s>*</s>图片上传：</label>
                        <div class="controls">
                            <div id="J_Uploader" ></div> 
                        </div>
                 </div>
                    <input type="hidden" value="" name="pic_advert" id="adv_imgurl"   >
                        
                  
                  <div class="control-group">
                        <label class="control-label"><s>*</s>图片指向：</label>
                        <div class="controls">
                            <input  type="text" class="input-normal taoNick" name="url" value="{$slides.url}"/>
                        </div>
                  </div>  
                  
                    <div class="control-group">
                        <label class="control-label"><s>*</s>指向类型：</label>
                        <div class="controls">
                        <input type="text" class="input-normal taoNick" name="type" value="{$slides.type}"/> 
                        </div>
                    </div>              
             
                        <div class="control-group">
                            <label class="control-label"><s>*</s>是否展示：</label>
                            <div class="controls">
                                <label class="radio " for=""><input class="status_1" type="radio" name="status" value="1" <if condition="$slides.status eq 1"> checked="true" </if> >展示</label>
                                <label class="radio " for=""><input class="status_2" type="radio" name="status" value="2" <if condition="$slides.status eq 2"> checked="true" </if>>不展示</label>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        <include file="public:foot" />
      
        <script type="text/javascript">
            BUI.use('bui/uploader', function (Uploader) {
               
                    var uploader = new Uploader.Uploader({
                    render: '#J_Uploader',
                    url: '/index.php/Admin/Slides/uploadSlide',
                    isSuccess: function (data) {
                        if (data.status) {
                            var imgOriginalUrl = data['link'];
                            $("#adv_imgurl").val(imgOriginalUrl);
                            return true;
                        } else {
                            return false;
                        }
                    }
                }).render();
            });
        </script>
    </body>
</html>